.x-footer__information {
  display: flex;
  flex-direction: column;
  margin-top: 48px;

  &-payment {
    margin-bottom: 20px;
  }

  &-payment,
  &-security {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 18px;
  }

  &-security {
    padding-bottom: 42px !important;

    .x-footer__information-items {
      flex-wrap: wrap;
      justify-content: space-between;
    }
      .seloEbit {
        width: 28px;
        height: 38px;
      }

      .seloGoogle {
        width: 86px;
        height: 30px;

        a {
          img {
            width: 86px !important;
            height: 30px !important;
          }
        }
      }

      .reputation-ra {
        width: 66px;
        height: 24px;

        .icon-reclame-aqui {
          width: 66px;
          height: 24px;
        }
      }

      .seloReclameAqui {
        width: 66px;
        height: 24px;

        a {
          img {
            width: 66px !important;
            height: 24px !important;
          }
        }
      }
  }

  &-title {
    color: #000;
    font-style: normal;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: center;
  }

  &-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-reclame-aqui{
    height: 42px;
    width: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/arquivos/icon-trustvox.png");
  }
}
