.x-footer {
  background-color: #FFF;
  padding-top: 40px;
  padding-bottom: 24px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    &-link {
      img {
        margin: auto;
        display: block;
        width: 180px;
        height: 50px;
      }
    }
  }

  .x-social__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;

    &-title {
      color: #000;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
  }

  .x-social {
    width: 198px;
    margin: 0 auto;
    padding: 16px 0 0 0;
    justify-content: space-between;

    &__item {
      border: 1px solid #EEEEEE;
      border-radius: 4px;
      padding: 6px;

      &-link.instagram {
        div {
          width: 24px;
          height: 24px;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M16.8748 3.74987C18.0342 3.75334 19.1451 4.21542 19.9648 5.0352C20.7846 5.85498 21.2467 6.96585 21.2502 8.12519V16.8749C21.2467 18.0342 20.7846 19.1451 19.9648 19.9649C19.1451 20.7846 18.0342 21.2467 16.8748 21.2502H8.12516C6.96582 21.2467 5.85495 20.7846 5.03517 19.9649C4.21539 19.1451 3.75331 18.0342 3.74984 16.8749V8.12519C3.75331 6.96585 4.21539 5.85498 5.03517 5.0352C5.85495 4.21542 6.96582 3.75334 8.12516 3.74987H16.8748ZM16.8748 2.00003H8.12516C4.75625 2.00003 2 4.75628 2 8.12519V16.8749C2 20.2438 4.75625 23 8.12516 23H16.8748C20.2437 23 23 20.2438 23 16.8749V8.12519C23 4.75628 20.2437 2.00003 16.8748 2.00003Z" fill="black"/><path d="M18.1873 8.12518C17.9278 8.12518 17.674 8.04821 17.4582 7.90399C17.2423 7.75977 17.0741 7.55478 16.9748 7.31496C16.8754 7.07513 16.8494 6.81123 16.9001 6.55663C16.9507 6.30203 17.0757 6.06816 17.2593 5.88461C17.4428 5.70105 17.6767 5.57605 17.9313 5.5254C18.1859 5.47476 18.4498 5.50075 18.6896 5.60009C18.9294 5.69943 19.1344 5.86766 19.2786 6.0835C19.4229 6.29934 19.4998 6.5531 19.4998 6.81268C19.5002 6.98515 19.4665 7.15599 19.4007 7.31539C19.3349 7.4748 19.2382 7.61964 19.1163 7.74159C18.9943 7.86354 18.8495 7.9602 18.6901 8.02603C18.5306 8.09186 18.3598 8.12555 18.1873 8.12518ZM12.5 8.99987C13.1923 8.99987 13.869 9.20515 14.4446 9.58975C15.0202 9.97436 15.4688 10.521 15.7337 11.1606C15.9986 11.8001 16.068 12.5039 15.9329 13.1829C15.7978 13.8618 15.4645 14.4855 14.975 14.975C14.4855 15.4645 13.8618 15.7979 13.1828 15.9329C12.5039 16.068 11.8001 15.9987 11.1606 15.7337C10.521 15.4688 9.97433 15.0202 9.58973 14.4446C9.20513 13.869 8.99985 13.1923 8.99985 12.5C9.00084 11.572 9.36992 10.6823 10.0261 10.0261C10.6823 9.36995 11.572 9.00086 12.5 8.99987ZM12.5 7.25003C11.4617 7.25003 10.4466 7.55793 9.58326 8.13481C8.7199 8.71169 8.04699 9.53163 7.64963 10.4909C7.25227 11.4503 7.14831 12.5059 7.35088 13.5243C7.55345 14.5427 8.05347 15.4781 8.78769 16.2123C9.52192 16.9466 10.4574 17.4466 11.4758 17.6492C12.4942 17.8517 13.5498 17.7478 14.5091 17.3504C15.4684 16.953 16.2883 16.2801 16.8652 15.4168C17.4421 14.5534 17.75 13.5384 17.75 12.5C17.75 11.1076 17.1969 9.77228 16.2123 8.78772C15.2277 7.80315 13.8924 7.25003 12.5 7.25003Z" fill="black"/></svg>');
        }
      }

      &-link.facebook {
        div {
          width: 24px;
          height: 24px;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M9.698 22H13.698V13.99H17.302L17.698 10.01H13.698V8.00003C13.698 7.73481 13.8034 7.48046 13.9909 7.29292C14.1784 7.10539 14.4328 7.00003 14.698 7.00003H17.698V3.00003H14.698C13.3719 3.00003 12.1002 3.52681 11.1625 4.4645C10.2248 5.40218 9.698 6.67395 9.698 8.00003V10.01H7.698L7.302 13.99H9.698V22Z" fill="black"/></svg>');
        }
      }

      &-link.linkedin {
        div {
          width: 24px;
          height: 24px;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M5.80414 3.50003C4.41092 3.50003 3.5 4.41489 3.5 5.61735C3.5 6.79326 4.38378 7.73421 5.75068 7.73421H5.77712C7.1976 7.73421 8.08162 6.79326 8.08162 5.61735C8.05506 4.41489 7.1976 3.50003 5.80414 3.50003Z" fill="black"/><path d="M3.74072 9.40726H7.81371V21.661H3.74072V9.40726Z" fill="black"/><path d="M17.8111 9.11966C15.6138 9.11966 14.1405 11.1843 14.1405 11.1843V9.40726H10.0674V21.661H14.1403V14.818C14.1403 14.4517 14.1668 14.0859 14.2744 13.824C14.5689 13.0925 15.2389 12.3346 16.3641 12.3346C17.838 12.3346 18.4274 13.4583 18.4274 15.1056V21.661H22.5001V14.6349C22.5001 10.8711 20.4906 9.11966 17.8111 9.11966Z" fill="black"/></svg>');
        }
      }

      &-link.youtube {
        div {
          width: 24px;
          height: 24px;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M22.1085 7.58164C21.8896 6.76767 21.2478 6.12602 20.434 5.90684C18.9472 5.50003 12.9998 5.50003 12.9998 5.50003C12.9998 5.50003 7.05265 5.50003 5.56584 5.89142C4.76764 6.11036 4.11022 6.76778 3.89127 7.58164C3.5 9.06834 3.5 12.1516 3.5 12.1516C3.5 12.1516 3.5 15.2503 3.89127 16.7215C4.11045 17.5353 4.75198 18.177 5.56595 18.3961C7.06831 18.8031 13 18.8031 13 18.8031C13 18.8031 18.9472 18.8031 20.434 18.4117C21.2479 18.1926 21.8896 17.551 22.1088 16.7371C22.4999 15.2503 22.4999 12.1672 22.4999 12.1672C22.4999 12.1672 22.5156 9.06834 22.1085 7.58164ZM11.1063 14.9999V9.30317L16.0518 12.1516L11.1063 14.9999Z" fill="black"/></svg>');
        }
      }

    }
  }

  .x-copyright {
    background: #fff;
    border-top: 1px solid #F0F0F0;

    &__container {
      padding: 24px 16px 0 16px;
      flex-direction: column-reverse;
      justify-content: center;
    }

    &-text {
      color: #9A9A9A;
      font-size: 12px;
      font-weight: 400;
    }

    &-logo {
      display: block;
      margin-top: 30px;
    }

    &-itens {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-item {
      margin: 0 6px;

      svg {
        display: block;
      }

      img {
        width: 70px;
        height: 18px;
      }
    }
  }
}
