div(class='x-product__most-searched-container')
  h3(class='x-title')
    |#[strong Produtos] mais #[strong Buscados]
  div(class='x-product__most-searched-wrapper js--products-searched-shelf has--placeholder')
    <vtex:contentPlaceHolder id="Produtos Pesquisados" />
