section(class='x-home__benefits')
  div(class='x-home__benefits-container')
    ul(class='x-home__benefits-items')
      li(class='x-home__benefits-item')
        span(class='x-home__benefits-item-icon')
          <vtex.cmc:svgIconTruck />
        p(class='x-home__benefits-item-text')
          strong Frete grátis &nbsp;
          |ou #[br/]
          |com #[strong valor reduzido]
      li(class='x-home__benefits-item')
        span(class='x-home__benefits-item-icon')
          <vtex.cmc:svgIconWarranty/>
        p(class='x-home__benefits-item-text')
          strong Super garantia sestini
          br/
          |por tempo #[strong ilimitado]
      li(class='x-home__benefits-item')
        span(class='x-home__benefits-item-icon')
          <vtex.cmc:svgIconCard/>
        p(class='x-home__benefits-item-text')
          strong Parcele &nbsp;
          |em até #[br/]
          strong 10x sem juros
      li(class='x-home__benefits-item')
        span(class='x-home__benefits-item-icon')
          <vtex.cmc:svgIconExchange/>
        p(class='x-home__benefits-item-text')
          |Troca fácil #[br/]
          strong 1º troca grátis
