section(class='x-home__main-banner')
  h1(class='hidden-heading') Sestini
  div(class='x-home__main-banner-container')
    div(class='x-home__main-banner-items js--main-banner')
      <vtex:contentPlaceHolder id="Banner Principal" />
