section(class='x-home__week-offers')
  div(class='x-home__week-offers-container')
    h3(class='x-title')
      |#[strong Ofertas] da #[strong Semana]
    div(class='x-home__week-offers-wrapper')
      div(class='x-home__week-offers-left js--home-week-offer-left has--placeholder')
        <vtex:contentPlaceHolder id="Ofertas da Semana - Vitrine Esquerda" />
      div(class='x-home__week-offers-right js--home-week-offer-right has--placeholder')
        <vtex:contentPlaceHolder id="Ofertas da Semana - Vitrine Direita" />
