
extends ./../_layouts/_desktop-institutional-base.pug


//- Template variables
block vars
  - var $templateName = 'seja-franqueado'
  - var $templateClass = 'seja-franqueado'


//- Page styles
block append styles
  link(rel='stylesheet', href=`/arquivos/sestini-desktop-${$templateName}.css`, media='all')/


//- Main Content
block institutionalContent
  include ../_partials/institutional/seja-franqueado/_main.pug
  include ../_partials/institutional/seja-franqueado/_form.pug
  include ../_partials/institutional/seja-franqueado/_popup.pug


//- Page scripts
block append scripts
  script(type='text/javascript', src=`/arquivos/sestini-desktop-${$templateName}.js`)
