
extends ./../_layouts/_desktop-institutional-base.pug


//- Template variables
block vars
  - var $templateName = 'representantes'
  - var $templateClass = 'representantes'


//- Page styles
block append styles
  link(rel='stylesheet', href=`/arquivos/sestini-desktop-${$templateName}.css`, media='all')/


//- Main Content
block institutionalContent
  include ../_partials/institutional/representantes/_main.pug
  include ../_partials/institutional/representantes/_list.pug


//- Page scripts
block append scripts
  script(type='text/javascript', src=`/arquivos/sestini-desktop-${$templateName}.js`)
