<svg xmlns="http://www.w3.org/2000/svg" width="42.823" height="33.09" viewBox="0 0 42.823 33.09">
  <g id="noun_Refresh_11551" transform="translate(0 0)">
    <g id="Grupo_4125" data-name="Grupo 4125" transform="translate(0 0)">
      <path id="Caminho_272" data-name="Caminho 272" d="M18.269,28.864a1.657,1.657,0,0,0-2.344-.03l-2.07,2.016a1.837,1.837,0,0,1-.282.275,13.459,13.459,0,0,1,24.168-7.251,1.476,1.476,0,1,0,2.352-1.782,16.419,16.419,0,0,0-29.488,9.032.673.673,0,0,1-.1-.122L8.3,28.736a1.658,1.658,0,1,0-2.374,2.315l4.92,5.048a1.656,1.656,0,0,0,2.343.029l5.049-4.92A1.658,1.658,0,0,0,18.269,28.864Zm-6.139,4.481.058,0A.035.035,0,0,1,12.131,33.345Z" transform="translate(-5.456 -15.58)"/>
      <path id="Caminho_273" data-name="Caminho 273" d="M56.3,46.406l-4.919-5.049a1.657,1.657,0,0,0-2.344-.029l-5.05,4.92a1.658,1.658,0,0,0,2.313,2.376l2.072-2.017a1.629,1.629,0,0,1,.255-.252A13.46,13.46,0,0,1,24.469,53.5a1.475,1.475,0,1,0-2.352,1.782A16.418,16.418,0,0,0,51.6,46.307a.744.744,0,0,1,.122.148l2.209,2.266A1.658,1.658,0,1,0,56.3,46.406Z" transform="translate(-13.953 -28.707)"/>
    </g>
  </g>
</svg>
