<svg id="Group_4005" data-name="Group 4005" xmlns="http://www.w3.org/2000/svg" width="25.888" height="25" viewBox="0 0 25.888 25">
  <rect id="Rectangle_95" data-name="Rectangle 95" width="25.888" height="5.682" transform="translate(0 19.318)" fill="#939393" opacity="0.4"/>
  <rect id="Rectangle_97" data-name="Rectangle 97" width="25.888" height="5.682" transform="translate(0 9.659)" fill="#939393" opacity="0.4"/>
  <rect id="Rectangle_98" data-name="Rectangle 98" width="25.888" height="5.682" transform="translate(0)" fill="#939393" opacity="0.4"/>
</svg>
