<svg xmlns="http://www.w3.org/2000/svg" width="25.032" height="15.5" viewBox="0 0 25.032 15.5">
  <g id="Group_23" data-name="Group 23" transform="translate(-7.25 -6.25)">
    <line id="Line_3" data-name="Line 3" x2="22.532" transform="translate(8.5 7.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2.5"/>
    <line id="Line_4" data-name="Line 4" x2="14.5" transform="translate(8.5 14)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2.5"/>
    <line id="Line_5" data-name="Line 5" x2="22.5" transform="translate(8.5 20.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2.5"/>
  </g>
</svg>
