<svg xmlns="http://www.w3.org/2000/svg" width="66.255" height="39.912" viewBox="0 0 66.255 39.912">
  <g id="Group_3637" data-name="Group 3637" transform="translate(1039 -3523)">
    <g id="Rectangle_1359" data-name="Rectangle 1359" transform="translate(-1039 3523)" fill="#fff" stroke="#26487e" stroke-width="0.5">
      <rect width="66.256" height="39.824" rx="2" stroke="none"/>
      <rect x="0.25" y="0.25" width="65.756" height="39.324" rx="1.75" fill="none"/>
    </g>
    <path id="Rectangle_1360" data-name="Rectangle 1360" d="M0,0H66.256a0,0,0,0,1,0,0V17.912a2,2,0,0,1-2,2H2a2,2,0,0,1-2-2V0A0,0,0,0,1,0,0Z" transform="translate(-1039 3543)" fill="#26487e"/>
    <g id="VTEX_Logo" transform="translate(-1023.197 3527.404)">
      <g id="Artboard" transform="translate(0 0)">
        <g id="vtex-logo">
          <path id="Shape" d="M190.083,33.313h-1.247v4.269a.147.147,0,0,1-.146.146h-.961a.147.147,0,0,1-.146-.146V33.313h-1.256a.14.14,0,0,1-.146-.139v-.756a.14.14,0,0,1,.146-.139h3.754a.147.147,0,0,1,.154.139v.756A.147.147,0,0,1,190.083,33.313Z" transform="translate(-164.937 -28.628)" fill="#f71c6e"/>
          <path id="Shape-2" data-name="Shape" d="M230.028,37.19a9.6,9.6,0,0,1-1.485.1c-.947,0-1.783-.242-1.783-1.577V33.272c0-1.335.844-1.569,1.79-1.569a9.48,9.48,0,0,1,1.473.095c.1.015.146.051.146.146v.685a.147.147,0,0,1-.146.146h-1.542c-.343,0-.469.114-.469.5v.667h1.958a.147.147,0,0,1,.146.146v.7a.147.147,0,0,1-.146.146h-1.958v.778c0,.381.124.5.469.5h1.546a.147.147,0,0,1,.146.146v.685C230.175,37.131,230.13,37.175,230.028,37.19Z" transform="translate(-200.882 -28.118)" fill="#f71c6e"/>
          <path id="Shape-3" data-name="Shape" d="M267.548,37.719h-1.166a.193.193,0,0,1-.191-.114l-1.012-1.6-.914,1.569c-.051.088-.1.146-.184.146H263a.1.1,0,0,1-.114-.1.135.135,0,0,1,.015-.051l1.591-2.649-1.606-2.517a.1.1,0,0,1-.015-.045.106.106,0,0,1,.114-.1h1.181c.081,0,.139.073.184.139l.939,1.485.914-1.485a.238.238,0,0,1,.184-.139h1.086a.106.106,0,0,1,.114.1.1.1,0,0,1-.015.045l-1.6,2.532,1.664,2.627a.165.165,0,0,1,.022.073A.1.1,0,0,1,267.548,37.719Z" transform="translate(-232.868 -28.618)" fill="#f71c6e"/>
          <path id="Shape-4" data-name="Shape" d="M141.893,32.41a.114.114,0,0,0-.114.09l-1.066,3.943c-.015.081-.037.114-.1.114s-.088-.03-.1-.114L139.445,32.5a.114.114,0,0,0-.114-.09h-1.048a.114.114,0,0,0-.114.139s1.3,4.519,1.315,4.569a1.106,1.106,0,0,0,1.131.8,1.142,1.142,0,0,0,1.131-.8c.021-.062,1.293-4.569,1.293-4.569a.114.114,0,0,0-.114-.138Z" transform="translate(-122.406 -28.745)" fill="#f71c6e"/>
          <path id="Shape-5" data-name="Shape" d="M13.73.32H2.8A1.135,1.135,0,0,0,1.8,1.983L2.9,4.066H.914A.715.715,0,0,0,.27,5.117l3.518,6.647a.729.729,0,0,0,1.288,0l.955-1.8,1.2,2.268a1.125,1.125,0,0,0,1.988,0L14.7,1.923A1.09,1.09,0,0,0,13.73.32ZM8.845,4.675l-2.4,4.5a.475.475,0,0,1-.839,0L3.239,4.718a.442.442,0,0,1,.391-.65H8.475a.412.412,0,0,1,.37.606Z" transform="translate(-0.186 -0.32)" fill="#f71c6e"/>
        </g>
      </g>
    </g>
    <g id="Group_3594" data-name="Group 3594" transform="translate(1.055)">
      <g id="Group_3588" data-name="Group 3588" transform="translate(-1032.055 3548)">
        <g id="Group_3587" data-name="Group 3587" transform="translate(0)">
          <path id="Path_2793" data-name="Path 2793" d="M28.54,22.887l2.485-.8-2.94-6.709-13.419.752,2.629,6.623.11.276,1.218,3.068,9.489-3.068Z" transform="translate(-14.665 -15.374)" fill="#fff"/>
          <path id="Path_2795" data-name="Path 2795" d="M26.78,23.025V18.714H28.54v4.173l2.485-.8-2.94-6.709-13.419.752,2.629,6.623V18.656h1.849c.21.008.491.032.76.058,1.188.115,1.7.754,1.7,1.6s-1.115,1.428-2.2,1.428c-.125,0-.24,0-.347-.008v1.29H17.4l1.218,3.068,9.489-3.068Zm-.635-1.209v.989c-3.648.936-4.369-.892-4.369-2.088s1.3-2.616,4.348-1.868l.021,1.069c-2.18-.561-2.5.532-2.5.951s.428,1.642,2.5.947M27.7,16.234A1.056,1.056,0,1,1,26.64,17.29,1.056,1.056,0,0,1,27.7,16.234" transform="translate(-14.665 -15.374)" fill="#225d63"/>
          <path id="Path_2794" data-name="Path 2794" d="M91.031,90.045c0-.3-.179-.5-.6-.538-.094-.009-.193-.017-.266-.02h-.107V90.57h.2c.381,0,.772-.227.772-.524" transform="translate(-85.746 -85.244)" fill="#225d63"/>
        </g>
        <path id="Path_2796" data-name="Path 2796" d="M135.381,89.641s1.106.038,1.677,2.821l1.067-.572a14.5,14.5,0,0,1,4.765-6.137s.5-.648-.458-.5a17.945,17.945,0,0,0-4.917,5.3s-.648-2.592-2.135-.915" transform="translate(-124.779 -82.307)" fill="#22b94c" stroke="#fff" stroke-width="1"/>
        <path id="Path_2797" data-name="Path 2797" d="M135.381,89.641s1.106.038,1.677,2.821l1.067-.572a14.5,14.5,0,0,1,4.765-6.137s.5-.648-.458-.5a17.945,17.945,0,0,0-4.917,5.3s-.648-2.592-2.135-.915" transform="translate(-124.779 -82.307)" fill="#22b94c"/>
      </g>
      <text id="CERTIFIED" transform="translate(-1010.454 3556)" fill="#fff" font-size="6" font-family="Roboto-Regular, Roboto"><tspan x="0" y="0">CERTIFIED</tspan></text>
    </g>
  </g>
</svg>
