<svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18">
  <g id="noun_e-mail_576552" transform="translate(0 -4)">
    <g id="Group_4228" data-name="Group 4228" transform="translate(0 4)">
      <path id="Path_292" data-name="Path 292" d="M22.59,22H1.41A1.412,1.412,0,0,1,0,20.59V5.41A1.412,1.412,0,0,1,1.41,4H22.59A1.412,1.412,0,0,1,24,5.41V20.59A1.412,1.412,0,0,1,22.59,22ZM1.5,20.5h21V5.5H1.5Z" transform="translate(0 -4)"/>
      <path id="Path_293" data-name="Path 293" d="M12,15.7a2.249,2.249,0,0,1-1.036-.252L.406,9.983a.75.75,0,1,1,.689-1.333l10.559,5.466a.748.748,0,0,0,.692,0L22.9,8.651a.75.75,0,0,1,.69,1.333L13.036,15.449A2.257,2.257,0,0,1,12,15.7Z" transform="translate(0 -5.142)"/>
    </g>
  </g>
</svg>
