<svg xmlns="http://www.w3.org/2000/svg" width="14.143" height="14.142" viewBox="0 0 14.143 14.142">
  <g id="Group_4218" data-name="Group 4218" transform="translate(-4444.929 -1059)">
    <path id="Icon" d="M0,0H18V2H0V0Z" transform="translate(4457.657 1073.142) rotate(-135)"/>
    <path id="Icon-2" data-name="Icon" d="M0,0H18V2H0V0Z" transform="translate(4459.071 1060.414) rotate(135)"/>
  </g>
</svg>
