<svg id="instagram" xmlns="http://www.w3.org/2000/svg" width="21.692" height="21.692" viewBox="0 0 21.692 21.692">
  <path id="Caminho_2" data-name="Caminho 2" d="M32.1,23.88H25.631a1.874,1.874,0,0,0-1.872,1.872v6.465a1.874,1.874,0,0,0,1.872,1.872H32.1a1.874,1.874,0,0,0,1.872-1.872V25.752A1.874,1.874,0,0,0,32.1,23.88Zm-3.233,8.465a3.361,3.361,0,1,1,3.361-3.361A3.364,3.364,0,0,1,28.863,32.345Zm3.469-6.026a.8.8,0,1,1,.8-.8A.8.8,0,0,1,32.332,26.318Z" transform="translate(-18.017 -18.109)" fill="#c12a21"/>
  <path id="Caminho_3" data-name="Caminho 3" d="M38.79,36.971a1.941,1.941,0,1,0,1.94,1.94A1.943,1.943,0,0,0,38.79,36.971Z" transform="translate(-27.944 -28.036)" fill="#c12a21"/>
  <path id="Caminho_4" data-name="Caminho 4" d="M10.846,0A10.846,10.846,0,1,0,21.692,10.846,10.846,10.846,0,0,0,10.846,0ZM17.37,14.108A3.3,3.3,0,0,1,14.079,17.4H7.613a3.3,3.3,0,0,1-3.292-3.292V7.643A3.3,3.3,0,0,1,7.613,4.351h6.465A3.3,3.3,0,0,1,17.37,7.643Z" fill="#c12a21"/>
</svg>
