<svg xmlns="http://www.w3.org/2000/svg" width="48.604" height="29.628" viewBox="0 0 48.604 29.628">
  <g id="noun_Barcode_1673590_000000" transform="translate(0 0)">
    <rect id="Retângulo_70" data-name="Retângulo 70" width="0.9" height="29.628" transform="translate(0)"/>
    <rect id="Retângulo_71" data-name="Retângulo 71" width="1.8" height="29.628" transform="translate(1.8)"/>
    <rect id="Retângulo_72" data-name="Retângulo 72" width="0.9" height="29.628" transform="translate(5.4)"/>
    <rect id="Retângulo_73" data-name="Retângulo 73" width="0.9" height="29.628" transform="translate(8.101)"/>
    <rect id="Retângulo_74" data-name="Retângulo 74" width="0.9" height="29.628" transform="translate(9.901)"/>
    <rect id="Retângulo_75" data-name="Retângulo 75" width="0.9" height="29.628" transform="translate(11.701)"/>
    <rect id="Retângulo_76" data-name="Retângulo 76" width="1.8" height="29.628" transform="translate(14.401)"/>
    <rect id="Retângulo_77" data-name="Retângulo 77" width="0.9" height="29.628" transform="translate(18.002)"/>
    <rect id="Retângulo_78" data-name="Retângulo 78" width="0.9" height="29.628" transform="translate(19.802)"/>
    <rect id="Retângulo_79" data-name="Retângulo 79" width="1.8" height="29.628" transform="translate(21.602)"/>
    <rect id="Retângulo_80" data-name="Retângulo 80" width="0.9" height="29.628" transform="translate(25.202)"/>
    <rect id="Retângulo_81" data-name="Retângulo 81" width="0.9" height="29.628" transform="translate(27.903)"/>
    <rect id="Retângulo_82" data-name="Retângulo 82" width="0.9" height="29.628" transform="translate(29.703)"/>
    <rect id="Retângulo_83" data-name="Retângulo 83" width="0.9" height="29.628" transform="translate(31.503)"/>
    <rect id="Retângulo_84" data-name="Retângulo 84" width="1.8" height="29.628" transform="translate(34.203)"/>
    <rect id="Retângulo_85" data-name="Retângulo 85" width="0.9" height="29.628" transform="translate(37.803)"/>
    <rect id="Retângulo_86" data-name="Retângulo 86" width="0.9" height="29.628" transform="translate(39.604)"/>
    <rect id="Retângulo_87" data-name="Retângulo 87" width="0.9" height="29.628" transform="translate(41.404)"/>
    <rect id="Retângulo_88" data-name="Retângulo 88" width="1.8" height="29.628" transform="translate(44.104)"/>
    <rect id="Retângulo_89" data-name="Retângulo 89" width="0.9" height="29.628" transform="translate(47.704)"/>
  </g>
</svg>
