<svg xmlns="http://www.w3.org/2000/svg" width="21.415" height="21.415" viewBox="0 0 21.415 21.415">
  <g id="facebook-logo-button" transform="translate(0)">
    <g id="Grupo_2" data-name="Grupo 2">
      <path id="Caminho_5" data-name="Caminho 5" d="M10.707,0A10.707,10.707,0,1,0,21.415,10.707,10.719,10.719,0,0,0,10.707,0ZM13.37,11.084H11.628v6.209H9.047V11.084H7.82V8.89H9.047V7.47a2.421,2.421,0,0,1,2.605-2.605l1.913.007V7H12.176a.526.526,0,0,0-.547.6V8.89H13.6Z" fill="#c12a21"/>
    </g>
  </g>
</svg>
