<svg xmlns="http://www.w3.org/2000/svg" width="66.042" height="25.309" viewBox="0 0 66.042 25.309">
  <g id="elo" transform="translate(0 0)">
    <g id="Layer_1" data-name="Layer 1" transform="translate(0 0)">
      <path id="Path_88" data-name="Path 88" d="M263.221,5.59a7.457,7.457,0,0,1,9.658,5.577l5.105-1.041A12.666,12.666,0,0,0,261.57.65Z" transform="translate(-252.926 0)" fill="#f2ca30"/>
      <path id="Path_89" data-name="Path 89" d="M4.271,115.126l3.452-3.9a7.443,7.443,0,0,1,0-11.151l-3.454-3.9a12.655,12.655,0,0,0,0,18.956" transform="translate(0 -92.992)" fill="#4da3dd"/>
      <path id="Path_90" data-name="Path 90" d="M272.81,428.13a7.453,7.453,0,0,1-9.657,5.569l-1.652,4.943a12.672,12.672,0,0,0,16.414-9.463Z" transform="translate(-252.858 -413.982)" fill="#cf4329"/>
      <path id="Path_91" data-name="Path 91" d="M858.918,212.9a9.1,9.1,0,0,1-.532-1.024,7.757,7.757,0,0,1,3.872-10.091,7.771,7.771,0,0,1,7.138.519,7.627,7.627,0,0,1,3.187,3.846c.1.227.183.47.266.676Zm4.652-8.1a3.848,3.848,0,0,0-2.332,4.082l7.006-3.016A3.72,3.72,0,0,0,863.57,204.795Zm5.549,6.561,0,0-.145-.1a4.112,4.112,0,0,1-1.894,1.586,3.679,3.679,0,0,1-4.06-.408l-.1.146a0,0,0,0,0,0,0l-1.778,2.659a7.6,7.6,0,0,0,1.413.774,7.712,7.712,0,0,0,9.274-2.848Z" transform="translate(-829.396 -194.499)" fill="#262424"/>
      <path id="Path_92" data-name="Path 92" d="M1366.106,101.86v14.785l2.3.932-1.306,3.048-2.537-1.058a2.87,2.87,0,0,1-1.25-1.05,3.308,3.308,0,0,1-.49-1.832V101.86Z" transform="translate(-1317.783 -98.494)" fill="#262424"/>
      <path id="Path_93" data-name="Path 93" d="M1539.149,266.015a4.181,4.181,0,0,1,1.437-3.155l-2.358-2.63a7.725,7.725,0,0,0-.007,11.569l2.355-2.632A4.185,4.185,0,0,1,1539.149,266.015Z" transform="translate(-1484.872 -251.63)" fill="#262424"/>
      <path id="Path_94" data-name="Path 94" d="M1697.4,464.443a4.238,4.238,0,0,1-1.329-.217l-1.127,3.348a7.73,7.73,0,0,0,10.026-5.768l-3.462-.707A4.193,4.193,0,0,1,1697.4,464.443Z" transform="translate(-1638.927 -445.862)" fill="#262424"/>
      <path id="Path_95" data-name="Path 95" d="M1697.879,201.64a7.706,7.706,0,0,0-2.449.394l1.116,3.352a4.194,4.194,0,0,1,5.435,3.145l3.462-.7A7.727,7.727,0,0,0,1697.879,201.64Z" transform="translate(-1639.401 -194.976)" fill="#262424"/>
    </g>
  </g>
</svg>
