<svg xmlns="http://www.w3.org/2000/svg" width="21.415" height="21.415" viewBox="0 0 21.415 21.415">
  <g id="Grupo_4241" data-name="Grupo 4241" transform="translate(-263.875 -2729.094)">
    <ellipse id="Elipse_1" data-name="Elipse 1" cx="10.707" cy="10.707" rx="10.707" ry="10.707" transform="translate(263.874 2729.094)" fill="#c12a21"/>
    <path id="youtube" d="M9.766,67.393H2.56A2.56,2.56,0,0,0,0,69.953v3.6a2.56,2.56,0,0,0,2.56,2.56H9.766a2.56,2.56,0,0,0,2.56-2.56v-3.6A2.56,2.56,0,0,0,9.766,67.393ZM8.035,71.929,4.664,73.537a.135.135,0,0,1-.194-.122V70.1a.135.135,0,0,1,.2-.121l3.371,1.708A.135.135,0,0,1,8.035,71.929Z" transform="translate(268.568 2667.6)" fill="#fff"/>
  </g>
</svg>
