div(class='x-institutional__bottom')
  div(class='x-institutional-nav__container')
    <vtex.cmc:CadeadoAccordionContent />
    //- ul(class='x-institutional-nav__items')
    //-   li(class='x-institutional-nav__item js--institutional-nav-wrapper')
    //-     button(class='x-institutional-nav__item-title js--institutional-nav-button')
    //-       |Esse é o título do item
    //-     p(class='x-institutional-nav__content')
    //-       |Esse é o texto do item
      
    //-   li(class='x-institutional-nav__item js--institutional-nav-wrapper')
    //-     button(class='x-institutional-nav__item-title js--institutional-nav-button')
    //-       |Esse é o título do item
    //-     p(class='x-institutional-nav__content')
    //-       |Esse é o texto do item
      
    //-   li(class='x-institutional-nav__item js--institutional-nav-wrapper')
    //-     button(class='x-institutional-nav__item-title js--institutional-nav-button')
    //-       |Esse é o título do item
    //-     p(class='x-institutional-nav__content')
    //-       |Esse é o texto do item

    //-   li(class='x-institutional-nav__item js--institutional-nav-wrapper')
    //-     button(class='x-institutional-nav__item-title js--institutional-nav-button')
    //-       |Esse é o título do item
    //-     p(class='x-institutional-nav__content')
    //-       |Esse é o texto do item
