
extends ./_mobile-base.pug

include ./../../common/_mixins/_mixin__account-script.pug


//- Template variables
block vars
  - var $templateName = 'account'
  - var $templateClass = 'account'
  - var $isWishlistPage


//- Page styles
block append styles
  link(rel='stylesheet', href=`/arquivos/sestini-mobile-${$templateName}.css`, media='all')/


block append themeScripts
  //- Mixin Account Script
  +accountScript

//- Main Content
block content
  if $isWishlistPage
    section(class='x-account-title')
      a(class='x-account__nav-link', title='Minha Conta', href="/account") Minha Conta
      h1(class='x-account__title is--wishlist-title') meus #[strong favoritos]

  section(class='x-account__container')
    block accountContent


//- Page scripts
block append scripts
  script(type='text/javascript', src=`/arquivos/sestini-mobile-${$templateName}.js`)
