{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-nested-ternary": 0,
    "no-undef": 0,
    "no-unused-expressions": [
      "error",
      {
        "allowTernary": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
