div(class='x-category__filters js--headroom-filter')
  button(class='x-category__filter-button js--open-category',
    title="filtar")
    <vtex.cmc:svgIconFilter />
    |Filtrar

  div(class='x-category__filters-content js--filter-content')
    div(class='x-category__filters-dinamics js--append-filter')

    button(class='x-category__filters-close-button js--filter-close-button')
      <vtex.cmc:svgIconClosePopup/>

