div(class='x-category__grid')
  button(class='x-category__grid-btn js--change-grid is--active',
    data-value='5',
    title='Visualizar em 5 colunas')
    <vtex.cmc:svgIconGrid/>
  button(class='x-category__grid-btn js--change-grid',
    data-value='1',
    title='Visualizar em lista')
    <vtex.cmc:svgIconList/>
