div(class='x-category__top-wrapper')
  div(class='x-category__top-left')
    div(class='x-category__breadcrumb')
      <vtex.cmc:breadCrumb/>

    div(class='x-category__text js--category-text')
      <vtex:contentPlaceHolder id="Título Categoria" />
      div(class='x-category__text-content')
        <vtex:contentPlaceHolder id="Texto Categoria" />

  div(class='x-category__top-right')
    div(class='x-category__banner')
      <vtex:contentPlaceHolder id="Banner Categoria" />
