
div(class='x-institutional__popup')
    div(class='x-institutional__popup-container js--message-popup')     
        div(class='x-institutional__popup-wrapper')
            div(class="x-institutional__popup-close")
                button(class="x-institutional__popup-close--button js--close-button") x
            div(class='x-institutional__popup-messages')
                p(class='x-institutional__popup-success js--contact-success')
                    | Sua mensagem foi enviada com sucesso!
                p(class='x-institutional__popup-error js--submit-error')
                    | Houve um erro ao enviar a sua mensagem, por favor tente novamente.

        //- button(class='x-share__btn x-btn x-btn--primary',            
        //-     title='Copiar link') Copiar link        

                        
                
                

                

