
div(class='x-error__content')
    div(class='x-error__container')
        h2(class='x-error__title') Ops...
        p(class='x-error__text') 
            |Não encontramos essa página. Use a busca para 
            br/ 
            |continuar a Black Friday.

    div(class='x-error__bottom-content')
            a(class='x-error__link js--button', href='/produtos', title='voltar') Ir para busca
