.x-overlay,
.x-menu-overlay,
.x-search-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-black, 0.2);
  transition: all 0.3s;
  cursor: pointer;

  &.is--active {
    opacity: 1;
    visibility: visible;
  }
}

.x-overlay {
  z-index: z("overlay");
  @include mq("sm", max) {
    z-index: z("overlay-mobile");
  }
}

.x-menu-overlay {
  z-index: z("menu-overlay");
  @include mq("sm", max) {
    z-index: z("overlay-mobile");
  }
}

.x-search-overlay {
  z-index: z("search-overlay");
}
