.x-institutional {
  &__top {
    width: 100%;
    margin: auto;
    // @include rem(margin-top, 35px);
    @include rem(margin-bottom, 55px);
    @include rem(max-width, 467px);

    &-text {
      color: rgba($color-black, 0.5);
      @include font-weight(400);
      @include rem(font-size, 14px);
      @include rem(line-height, 18px);
    }
  }

  &__bottom {
    width: 100%;
    @include rem(margin-bottom, 65px);
  }
}
