//- id: 48642f55-4468-4a03-9c50-c801a49f855f

extends ./../_layouts/_desktop-shelf-base.pug

block vars
  - var $customClass = 'has--carousel'
  - var $shelfType = 'all'


block append shelfImage
  a(href='$productLink', class='x-shelf__link', title='$productTitle')
    div(class='x-shelf__placeloader has--placeloader js--shelf-carousel',
      data-product-id='$productId',
      data-image-width='157',
      data-image-ratio='0.8306')
