
div(class='x-partners')
  div(class='x-partners__container')
    ul(class='x-partners__items')
      li(class='x-partners__item')
        a(class='x-parterns__item-link', title="Enext", href="http://www.enext.com.br/", rel="noindex nofollow noopened", target="_blank")
          <vtex.cmc:svgIconLogoEnext />
      li(class='x-partners__item')
        a(class='x-parterns__item-link', title="Vtex", href="https://www.vtex.com/pt-br/", rel="noindex nofollow noopened", target="_blank")
          <vtex.cmc:svgIconLogoVtex />

