aside(class='x-institutional__menu')
  nav(class='x-institutional__nav')
    ul(class='x-institutional__nav-items')
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/quem-somos', title='Quem somos')
          |Quem somos
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/regulamentos-e-promocoes', title='Regulamentos e promoções')
          |Regulamentos e promoções
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', target='_blank', href='https://www.catho.com.br/empregos/sestini', title='Trabalhe conosco')
          |Trabalhe conosco
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/seja-franqueado', title='Seja franqueado')
          |Seja franqueado
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/representantes', title='Representantes')
          |Representantes
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/vendas-corporativas', title='Vendas corporativas')
          |Vendas corporativas
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/fale-conosco', title='Fale Conosco')
          |Fale Conosco
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/instrucao-cadeado', title='Instrução de Cadeado')
          |Instrução de Cadeado
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/cancelamento', title='Cancelamento')
          |Cancelamento
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/devolucao', title='Devoluções')
          |Devoluções
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/dicas-de-uso', title='Dicas de Uso')
          |Dicas de Uso
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/legenda-de-icones', title='Legenda de Ícones')
          |Legenda de Ícones
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/regras-para-malas-bordo', title='Regras para Mala de Bordo')
          |Regras para Mala de Bordo
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/tabela-de-medidas', title='Tabela de Medidas')
          |Tabela de Medidas
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/formas-de-pagamento', title='Formas de Pagamento')
          |Formas de Pagamento
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/frete-e-prazo-de-entrega', title='Frete e Prazo de Entrega')
          |Frete e Prazo de Entrega
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/garantia', title='Garantia')
          |Garantia
      li(class='x-institutional__nav-item')
        a(class='x-institutional__nav-item-link js--institutional-item', href='/institucional/privacidade-e-seguranca', title='Privacidade')
          |Privacidade
      