footer(class='x-footer')
  div(class='x-footer__container')
    div(class='x-footer__payment')
      ul(class='x-footer__payment-items')
        li(class='x-footer__payment-item-title') Pagamento
        li(class='x-footer__payment-item icon--visa')
          include ./../../custom-elements/svg-icons/svgIconCardVisa.pug
        li(class='x-footer__payment-item icon--master-card')
          include ./../../custom-elements/svg-icons/svgIconCardMastercard.pug
        li(class='x-footer__payment-item icon--elo')
          include ./../../custom-elements/svg-icons/svgIconCardElo.pug
        li(class='x-footer__payment-item icon--amex')
          include ./../../custom-elements/svg-icons/svgIconCardAmex.pug

    div(class='x-footer__development')
      ul(class='x-footer__development-items')
        li(class='x-footer__development-item-title') Desenvolvimento
        li(class='x-footer__development-item icon--enext')
          include ./../../custom-elements/svg-icons/svgIconLogoEnext.pug
        li(class='x-footer__development-item icon--vtex')
          include ./../../custom-elements/svg-icons/svgIconLogoVtex.pug
        //- li(class='x-footer__development-item icon--clearsale')
        //-   include ./../../custom-elements/svg-icons/svgIconLogoClearsale.pug
