
section(class='x-newsletter')
  div(class='x-newsletter-container')
    div(class='x-newsletter-left')
      p(class='x-newsletter-message js--newsletter-message')
        |Fique por #[strong dentro] das #[br/]
        |#[strong novidades] e #[strong promoções]
    div(class='x-newsletter-right')
      form(class='x-newsletter-form js--newsletter')
        div(class='x-newsletter-form-row')
          input(type='text', class='x-newsletter-input js--newsletter-name' placeholder='Nome completo', required='true')/
          input(type='email', class='x-newsletter-input js--newsletter-email' placeholder='E-mail', required='true')/

        div(class='x-newsletter-form-row')
          button(type='submit', class='x-newsletter-button') Enviar
