
div(class='x-copyright')
  div(class='x-copyright__container')
    p(class='x-copyright-text')
      strong Sestini Mercantil LTDA – CNPJ: 00.501.618/0001-35
      |As Imagens deste site são meramente ilustrativas, fotos poderão conter itens não inclusos no produto. Preços válidos apenas para compras neste site.
      br/
      |Sestini® 2013 – 2019. Todos os direitos reservados.
