div(class='x-product__review-container')
  h3(class='x-title trustvox-container' id='trustvox-reviews')
    |Veja a #[strong opinião] de #[br/] quem #[strong comprou]
  div(class='x-product__review-wrapper js--products-review has--placeholder' rv-class-has--placeholder="product.isLoading")
    div(id='_trustvox_widget')
