h4(class='x-footer__information-title', title='pagamento') Pagamento
ul(class='x-footer__information-items')
  li(class='x-footer__information-item')
    <vtex.cmc:svgIconCardVisa />
  li(class='x-footer__information-item')
    <vtex.cmc:svgIconCardMastercard />
  li(class='x-footer__information-item')
    <vtex.cmc:svgIconCardAmex />
  li(class='x-footer__information-item')
    <vtex.cmc:svgIconCardElo />
  li(class='x-footer__information-item')
    <vtex.cmc:svgIconCardHipercard />
  li(class='x-footer__information-item')
    <vtex.cmc:svgIconCardBoleto />
