h4(class='x-footer__information-title', title='segurança') Segurança
ul(class='x-footer__information-items')
  li(class='x-footer__information-item')
    <vtex.cmc:svgIconSecurityEbit />
  li(class='x-footer__information-item')
    <vtex.cmc:svgIconSecurityVtex />
  li(class='x-footer__information-item')
    <vtex.cmc:svgIconSecurityTrust />
  li(class='x-footer__information-item')
    div(id="reputation-ra")
  //- li(class='x-footer__information-item')
  //-   <vtex.cmc:svgIconSecurityRA />
