article(class='x-footer-seo')
  div(class='x-footer-seo__container')
    ul(class='x-footer-seo__items js--footer-seo')
      li(class='x-footer-seo__item')
        a(class='x-footer-seo__item-link js--footer-seo-button', title='central de ajuda', href='#')
          |Central de Ajuda
        ul(class='x-footer-seo__content')
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='formas de pagamento', href='/institucional/formas-de-pagamento')
              |Formas de Pagamento
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='frete e prazo de entrega', href='/institucional/frete-e-prazo-de-entrega')
              |Frete e Prazo de Entrega
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='garantia', href='/institucional/garantia')
              |Garantia
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='privacidade', href='/institucional/privacidade-e-seguranca')
              |Privacidade
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='fale conosco', href='/institucional/fale-conosco')
              |Fale Conosco

      li(class='x-footer-seo__item')
        a(class='x-footer-seo__item-link js--footer-seo-button', title='informações', href='#')
          |Informações
        ul(class='x-footer-seo__content')
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='instrução de cadeado', href='/institucional/Instrucao-cadeado')
              |Instrução de Cadeado
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='cancelamento', href='/institucional/cancelamento')
              |Cancelamento
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='devoluções', href='/institucional/devolucao')
              |Devoluções
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='dicas de uso', href='/institucional/dicas-de-uso')
              |Dicas de Uso
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='legenda de ícones', href='/institucional/legenda-de-icones')
              |Legenda de Ícones
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='regras para mala de bordo', href='/institucional/regras-para-malas-bordo')
              |Regras para Mala de Bordo
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='tabela de medidas', href='/institucional/tabela-de-medidas')
              |Tabela de Medidas
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='regulamentos', href='/institucional/regulamentos-e-promocoes')
              |Regulamentos

      li(class='x-footer-seo__item')
        a(class='x-footer-seo__item-link js--footer-seo-button', title='institucional', href='#')
          |Institucional
        ul(class='x-footer-seo__content')
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='quem somos', href='/institucional/quem-somos')
              |Quem Somos
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='blog da sestini', href='http://www.mundosestini.com.br/')
              |Blog da Sestini
          //- li(class='x-footer-seo__content-item')
          //-   a(class='x-footer-seo__content-item-link', title='catálogo de produtos', href='/institucional/catalago-de-produto')
          //-     |Catálogo de Produtos
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='lojas', href='/institucional/nossas-lojas')
              |Lojas
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='seja um franqueado', href='/institucional/seja-franqueado')
              |Seja um Franqueado
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='representantes', href='/institucional/representantes')
              |Representantes
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', target='_blank', title='trabalhe conosco', href='https://www.catho.com.br/empregos/sestini')
              |Trabalhe Conosco
          li(class='x-footer-seo__content-item')
            a(class='x-footer-seo__content-item-link', title='vendas corporativas', href='/institucional/vendas-corporativas')
              |Vendas Corporativas

      li(class='x-footer-seo__item')
        p(class='x-footer-seo__item-link js--footer-seo-button', title='atendimento')
          |Atendimento
        ul(class='x-footer-seo__content')
          li(class='x-footer-seo__content-item')
            p(class='x-footer-seo__content-item-link', title='exclusivo SAC da loja virtual', )
              |Exclusivo SAC da loja virtual
          li(class='x-footer-seo__content-item')
            p(class='x-footer-seo__content-item-link', title='(11) 2488-2010', )
              |(11) 2488-2010
          li(class='x-footer-seo__content-item')
            p(class='x-footer-seo__content-item-link', title='(seg a sex das 9h ás 17h)', )
              |(Seg a Sex das 9h ás 17h)
          li(class='x-footer-seo__content-item')
            p(class='x-footer-seo__content-item-link', title='outros departamentos', )
              |Outros departamentos
          li(class='x-footer-seo__content-item')
            p(class='x-footer-seo__content-item-link', title='(11) 3123-1600', )
              |(11) 3123-1600
          li(class='x-footer-seo__content-item')
            p(class='x-footer-seo__content-item-link', title='(11) 4064-1600', )
              |(11) 4064-1600

    button(class='x-footer-seo__button js--footer-seo-button', type='button', title='Abrir')
      <vtex.cmc:svgIconStripe />
