ul(class="x-social")
  li(class='x-social__item')
    a(class='x-social__item-link', title="Instagram", href="https://www.instagram.com/sestinioficial/", rel="noindex nofollow noopened", target="_blank")
      <vtex.cmc:svgIconInstagram />
  li(class='x-social__item')
    a(class='x-social__item-link', title="Facebook", href="https://pt-br.facebook.com/sestinioficial", rel="noindex nofollow noopened", target="_blank")
      <vtex.cmc:svgIconFacebook />
  li(class='x-social__item')
    a(class='x-social__item-link', title="LinkedIn", href="https://www.linkedin.com/company/sestini-mercantil", rel="noindex nofollow noopened", target="_blank")
      <vtex.cmc:svgIconLinkedin />
  li(class='x-social__item')
    a(class='x-social__item-link', title="Youtube", href="https://www.youtube.com/channel/UCIpUHpF4m5TJGlr67dty7PQ", rel="noindex nofollow noopened", target="_blank")
      <vtex.cmc:svgIconYoutube />
