div(class='x-category__filters is--hide')
  button(class='x-category__filter-button js--open-category',
    title="filtar")
    |Filtrar

  div(class='x-category__filters-content')
    div(class='x-category__filters-dinamics js--append-filter')
