div(class='x-search__top-wrapper')
  h1(class='x-search__title')
    |Você #[strong buscou por: ] #[span(class='js--searched-text')]
  p(class='x-search__amount-finded')
    | #[span(class='js--searched-results-num')] resultado(s) encontrado(s)

  h4(class='x-category__search-title js--searched-text is--hide')
