div(class='x-empty-search__top-wrapper')
  h1(class='x-empty-search__title')
    |Você #[strong buscou por: ] #[span(class='js--searched-text')]
  p(class='x-empty-search__not-found')
    | Nenhum resultado encontrado
