section(class='x-home__benefits')
  div(class='x-home__benefits-container')
    div(class='x-home__benefits-wrapper')
      ul(class='x-home__benefits-items js--benefits')
        li(class='x-home__benefits-item')
          span(class='x-home__benefits-item-icon icon--truck')
            <vtex.cmc:svgIconTruck />
          p(class='x-home__benefits-item-text')
            strong Frete grátis &nbsp;
            |ou #[br/]
            |com #[strong valor reduzido]
        li(class='x-home__benefits-item')
          span(class='x-home__benefits-item-icon icon--warranty')
            <vtex.cmc:svgIconWarranty/>
          p(class='x-home__benefits-item-text')
            strong Super garantia sestini
            br/
            |por tempo #[strong ilimitado]
        li(class='x-home__benefits-item')
          span(class='x-home__benefits-item-icon icon--card')
            <vtex.cmc:svgIconCard/>
          p(class='x-home__benefits-item-text')
            strong Parcele &nbsp;
            |em até #[br/]
            strong 10x sem juros
        li(class='x-home__benefits-item')
          span(class='x-home__benefits-item-icon icon--exchange')
            <vtex.cmc:svgIconExchange/>
          p(class='x-home__benefits-item-text')
            |Troca fácil #[br/]
            strong 1º troca grátis
