section(class='x-home__banners')
  div(class='x-home__banners-container')
    div(class='x-home__banners-wrapper')
      div(class='x-home__banners-right')
        <vtex:contentPlaceHolder id="Banners Direita - Um Quarto" />
      div(class='x-home__banners-left')
        <vtex:contentPlaceHolder id="Banner Esquerda - Metade" />
