section(class='x-home__category-offers')
  div(class='x-home__category-offers-container')
    h3(class='x-title')
      |#[strong Volta às aulas] com estilo
    div(class='x-home__category-offers-wrapper js--category-offers-shelf has--placeholder')
      <vtex:contentPlaceHolder id="Ofertas da Categoria" />
