section(class='x-home__category-bullets')
  div(class='x-home__category-bullets-container')
    h3(class='x-title')
      |Encontre a #[strong Sestini #[br/] Perfeita] para a #[strong Ocasião]
    div(class='x-home__category-bullets-items')
      <vtex:contentPlaceHolder id="Banners Categorias" />

