section(class='x-home__tabbed-shelf')
  div(class='x-home__tabbed-shelf-container')
    ul(class='x-home__tabbed-shelf-selectors js--home-tabbed-shelf-titles')
      li(class='x-home__tabbed-shelf-selector')
        button(class='x-home__tabbed-shelf-selector-button js--home-tabbed-shelf', title="mochilas")
          |mochilas
      li(class='x-home__tabbed-shelf-selector')
        button(class='x-home__tabbed-shelf-selector-button js--home-tabbed-shelf', title="estojos")
          |estojos
      li(class='x-home__tabbed-shelf-selector')
        button(class='x-home__tabbed-shelf-selector-button js--home-tabbed-shelf', title="lancheiras")
          |lancheiras
      li(class='x-home__tabbed-shelf-selector')
        button(class='x-home__tabbed-shelf-selector-button js--home-tabbed-shelf', title="malas")
          |malas
      li(class='x-home__tabbed-shelf-selector')
        button(class='x-home__tabbed-shelf-selector-button js--home-tabbed-shelf', title="bolsas")
          |bolsas

    ul(class='x-home__tabbed-shelf-contents has--placeholder js--home-tabbed-shelf-contents')
      li(class='x-home__tabbed-shelf-content js--home-tabbed-shelf-content')
        div(class='x-home__tabbed-shelf-content-wrapper js--home-tabbed-content-shelf')
          <vtex:contentPlaceHolder id="Prateleira Mochilas" />
      li(class='x-home__tabbed-shelf-content js--home-tabbed-shelf-content')
        div(class='x-home__tabbed-shelf-content-wrapper js--home-tabbed-content-shelf')
          <vtex:contentPlaceHolder id="Prateleira Estojos" />
      li(class='x-home__tabbed-shelf-content js--home-tabbed-shelf-content')
        div(class='x-home__tabbed-shelf-content-wrapper js--home-tabbed-content-shelf')
          <vtex:contentPlaceHolder id="Prateleira Lancheiras" />
      li(class='x-home__tabbed-shelf-content js--home-tabbed-shelf-content')
        div(class='x-home__tabbed-shelf-content-wrapper js--home-tabbed-content-shelf')
          <vtex:contentPlaceHolder id="Prateleira Malas" />
      li(class='x-home__tabbed-shelf-content js--home-tabbed-shelf-content')
        div(class='x-home__tabbed-shelf-content-wrapper js--home-tabbed-content-shelf')
          <vtex:contentPlaceHolder id="Prateleira Bolsas" />


