section(class='x-home__week-offers')
  div(class='x-home__week-offers-container')
    h3(class='x-title')
      |#[strong Ofertas] da #[strong semana]
    div(class='x-home__week-offers-wrapper js--home-week-offer has--placeholder')
      <vtex:contentPlaceHolder id="Ofertas da Semana - Vitrine" />
