.magic {
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    &__content {
        &-title {
            font-family: $font-primary;
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 35px;
            margin-top: 25px;
        }

        &-middle {
            display: flex;
            flex-direction: column;

            p {
                font-family: $font-primary;
                font-weight: normal;
                font-size: 14px;
                margin-top: 25px;

                &.bold {
                    font-weight: 600;
                    margin-top: 0px;
                }
            }
        }

        &-bottom {
            display: flex;
            flex-direction: column;
            margin: 40px 0;

            h2 {
                font-family: $font-primary;
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 25px;
            }

            &-item-container {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
            }

            &-item {
                flex: 0 0 18%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;

                img {
                    height: 98px;
                    width: auto;
                    border-radius: 50%;
                }

                p {
                    margin-top: 5px;
                    font-family: $font-primary;
                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                }
            }
        }

        &-estampas,
        &-materiais {
            h2 {
                font-family: $font-primary;
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 25px;
            }

            &-items-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
            }

            &-item {
                flex: 0 0 50%;
                text-align: center;
                margin-bottom: 40px;

                img {
                    height: 130px;
                    width: auto;
                }

                p {
                    margin-top: 5px;
                    font-family: $font-primary;
                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }
}
