div(class='x-header-menu__search')
  form(class='x-header-menu__search-form js--search-form')
    div(class='x-header-menu__search-group')
      button(class='x-header-menu__search-icon', type='submit')
        <vtex.cmc:svgIconSearch />
      input(type='text', id='searchInput', autocomplete='off', class='x-header-menu__search-input js--search-input', placeholder='Busque por malas, bolsas…')/
  div(class='x-search__result js--search-result')
    div(class='x-search__result-title') produtos #[strong sugeridos]
    div(class='x-search__result-list js--search-result-list')
