//- Id:	658e7306-a920-46dc-8dcf-56cea94f6989

extends ./../_layouts/_mobile-shelf-base.pug

block vars
  - var $customClass = 'has--carousel'
  - var $shelfType = 'all'


block append shelfImage
  a(href='$productLink', class='x-shelf__link', title='$productTitle')
    div(class='x-shelf__placeloader has--placeloader js--shelf-carousel',
      data-product-id='$productId',
      data-image-width='157',
      data-image-ratio='0.8306')
