
div(class='x-error__content')
    div(class='x-error__container')
        h2(class='x-error__title') Ops...
        p(class='x-error__text') Ocorreu um erro. Por favor, recarregar #[br/] a página para continuar a Black Friday.

    div(class='x-error__bottom-content')
        a(class='x-error__link js--button', href='/produtos', title='Voltar') Recarregar página