.x-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: z("menu-mobile");
  width: 100%;
  background-color: $color-white;
  transition: all 300ms ease-in-out;
  @include flex-centered;
  &.headroom--unpinned {
    transform: translateY(-100%);
  }

  &-tipbar {
    width: 100%;
    background: #000;
    padding: 8px 0;
  }

  &-tipbar-text {
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
  }

  &-top,
  &-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 100%;
      align-items: center;
  }
  &-bottom {
      width: 100%;
  }
  &-container {
      align-items: center;
  }
  &-top {
      padding: 18px 16px 18px;
  }
  &__menu-btn {
      .menu-icon {
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          height: 24px;
          width: 24px;
          background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.60007 5H10.6001C10.9714 5 11.3275 5.1475 11.59 5.41005C11.8526 5.6726 12.0001 6.0287 12.0001 6.4C12.0001 6.7713 11.8526 7.1274 11.59 7.38995C11.3275 7.6525 10.9714 7.8 10.6001 7.8H3.60007C3.22877 7.8 2.87267 7.6525 2.61012 7.38995C2.34757 7.1274 2.20007 6.7713 2.20007 6.4C2.20007 6.0287 2.34757 5.6726 2.61012 5.41005C2.87267 5.1475 3.22877 5 3.60007 5ZM13.4001 16.2H20.4001C20.7714 16.2 21.1275 16.3475 21.39 16.6101C21.6526 16.8726 21.8001 17.2287 21.8001 17.6C21.8001 17.9713 21.6526 18.3274 21.39 18.5899C21.1275 18.8525 20.7714 19 20.4001 19H13.4001C13.0288 19 12.6727 18.8525 12.4101 18.5899C12.1476 18.3274 12.0001 17.9713 12.0001 17.6C12.0001 17.2287 12.1476 16.8726 12.4101 16.6101C12.6727 16.3475 13.0288 16.2 13.4001 16.2ZM3.60007 10.6H20.4001C20.7714 10.6 21.1275 10.7475 21.39 11.0101C21.6526 11.2726 21.8001 11.6287 21.8001 12C21.8001 12.3713 21.6526 12.7274 21.39 12.9899C21.1275 13.2525 20.7714 13.4 20.4001 13.4H3.60007C3.22877 13.4 2.87267 13.2525 2.61012 12.9899C2.34757 12.7274 2.20007 12.3713 2.20007 12C2.20007 11.6287 2.34757 11.2726 2.61012 11.0101C2.87267 10.7475 3.22877 10.6 3.60007 10.6Z" fill="black"/></svg>');
      }
  }
  &__left {
      min-width: 82px;
      width: 24%;
      display: flex;

      .x-header__utilities-item {
        display: none;
      }
  }
  &__right {
      width: 30%;
      .icon-bag {
          position: relative;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          height: 23px;
          width: 23px;
          background-image: url("data:image/svg+xml,%3Csvg height='512pt' viewBox='0 -31 512.00026 512' width='512pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m164.960938 300.003906h.023437c.019531 0 .039063-.003906.058594-.003906h271.957031c6.695312 0 12.582031-4.441406 14.421875-10.878906l60-210c1.292969-4.527344.386719-9.394532-2.445313-13.152344-2.835937-3.757812-7.269531-5.96875-11.976562-5.96875h-366.632812l-10.722657-48.253906c-1.527343-6.863282-7.613281-11.746094-14.644531-11.746094h-90c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h77.96875c1.898438 8.550781 51.3125 230.917969 54.15625 243.710938-15.941406 6.929687-27.125 22.824218-27.125 41.289062 0 24.8125 20.1875 45 45 45h272c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-272c-8.269531 0-15-6.730469-15-15 0-8.257812 6.707031-14.976562 14.960938-14.996094zm312.152343-210.003906-51.429687 180h-248.652344l-40-180zm0 0'/%3E%3Cpath d='m150 405c0 24.8125 20.1875 45 45 45s45-20.1875 45-45-20.1875-45-45-45-45 20.1875-45 45zm45-15c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15-15-6.730469-15-15 6.730469-15 15-15zm0 0'/%3E%3Cpath d='m362 405c0 24.8125 20.1875 45 45 45s45-20.1875 45-45-20.1875-45-45-45-45 20.1875-45 45zm45-15c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15-15-6.730469-15-15 6.730469-15 15-15zm0 0'/%3E%3C/svg%3E");
      }
      .x-minicart__amount {
          position: absolute;
          top: -5px;
          left: 72%;
          font-family: $font-primary;
          font-size: 6px;
          padding: 6px;
      }
  }
  &__center {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 40px;
      .x-header:not(.is--active) {
          max-width: 721px;
      }
      .is--active & {
          flex-direction: row-reverse;
          margin: 0 20px 0 40px;
      }
  }
  &__logo {
      &,
      &-link,
      svg {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          transition: all 600ms ease-in-out;
          width: 126px;
          height: 35px;
      }
  }
  &__utilities {
      display: flex;
      width: 100%;
      text-transform: capitalize;
      &-list {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
      }
      &-item {
          @include flex-centered;
          color: $color-black;
          white-space: nowrap;
          @include flex-centered;
          font-family: $font-primary;
          font-size: 13px;
          line-height: 18px;
          a {
              @include flex-centered;
          }
          &+& {
              margin-left: 16px;
          }
          &:first-of-type {
              svg {
                  width: 23px;
                  height: 23px;
              }
          }
          &:nth-of-type(2) {
              svg {
                  width: 20px;
                  height: 21px;
              }
          }
      }
  }
  &__minicart {
      position: relative;
      border: 0;
      background: transparent;
      @include flex-centered;
      text-transform: capitalize;
      svg {
          width: 17px;
          height: 24px;
      }
  }
}

#smarthint-search-products>div.hidden>div>div>div>ul>div>li>article {
  min-height: unset !important;
}
