* {
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: none;
}
.x-submenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5500;
  background-color: $color-white;
  will-change: transform;
  transition: transform 300ms ease-in-out;
  transform: translateX(-100%);
  overflow-y: auto;

  &.is--active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translateX(0);
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-red;
    width: 100%;
    padding: 16px;
    padding-top: 32px
  }

  &__close {
    @include flex-centered;
    position: absolute;
    cursor: pointer;
    top: 14px;
    right: 20px;
  }

  &__login {
    display: none;
    cursor: pointer;
    color: $color-white;
    font-family: $font-primary;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;

    .is--logged & {
      display: none;
    }

    span {
      text-decoration: underline;
      font-weight: 600;
    }
  }

  &__account {
    width: 100%;

    &-items {
      @include flex-centered;
      width: 100%;
      justify-content: space-between !important;
      align-items: flex-start;
      flex-direction: column;
    }

    &-item {
      flex: 0 0 30%;
      margin-bottom: 16px;

      &-link {
        flex-direction: row;
        align-items: center;
        @include flex-centered;
        text-transform: capitalize;

        &.js--login-btn {
          display: none;
        }

        span {
          color: $color-white;
          font-size: 14px;
          line-height: 14px;
          font-family: $font-primary;
          font-weight: 600;
          text-align: center;
          margin-left: 16px;
        }

        & > div {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 32px;
          width: 32px;
        }

        .icon-minha-conta {
          width: 24px;
          height: 24px;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M16.125 6.75C15.9413 9.22828 14.0625 11.25 12 11.25C9.93754 11.25 8.05551 9.22875 7.87504 6.75C7.68754 4.17188 9.51566 2.25 12 2.25C14.4844 2.25 16.3125 4.21875 16.125 6.75Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 14.25C7.92187 14.25 3.7828 16.5 3.01687 20.7469C2.92452 21.2588 3.21421 21.75 3.74999 21.75H20.25C20.7862 21.75 21.0759 21.2588 20.9836 20.7469C20.2172 16.5 16.0781 14.25 12 14.25Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/></svg>');
        }

        .icon-wishlist {
          width: 24px;
          height: 24px;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M16.5431 3.75C13.5 3.75 12 6.75 12 6.75C12 6.75 10.5 3.75 7.45687 3.75C4.98374 3.75 3.0253 5.81906 2.99999 8.28797C2.94843 13.4128 7.06546 17.0573 11.5781 20.1202C11.7025 20.2048 11.8495 20.2501 12 20.2501C12.1505 20.2501 12.2975 20.2048 12.4219 20.1202C16.9341 17.0573 21.0511 13.4128 21 8.28797C20.9747 5.81906 19.0162 3.75 16.5431 3.75Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }

        .icon-lojas {
          width: 24px;
          height: 24px;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12 2.25C8.27344 2.25 5.25 5.12766 5.25 8.67188C5.25 12.75 9.75 19.2127 11.4023 21.4448C11.4709 21.5391 11.5608 21.6157 11.6647 21.6686C11.7686 21.7215 11.8835 21.749 12 21.749C12.1165 21.749 12.2314 21.7215 12.3353 21.6686C12.4392 21.6157 12.5291 21.5391 12.5977 21.4448C14.25 19.2136 18.75 12.7533 18.75 8.67188C18.75 5.12766 15.7266 2.25 12 2.25Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 11.25C13.2426 11.25 14.25 10.2426 14.25 9C14.25 7.75736 13.2426 6.75 12 6.75C10.7574 6.75 9.75 7.75736 9.75 9C9.75 10.2426 10.7574 11.25 12 11.25Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        }
      }

      &.is--logged .register {
        display: none;
      }
      &.is--logged .js--login-btn {
        display: flex;
      }
    }
  }

  &__content {
    width: 100%;
    // height: 100%;
    position: relative;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-bottom: solid 1px #F0F0F0;
    @include mq("lg", min) {
      padding-bottom: 15px;
    }
    &:not(:last-of-type) {
      @include mq("lg", min) {
        margin-bottom: 25px;
      }
    }

    &-link {
      display: flex;
      position: relative;
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      font-family: $font-primary;
      text-align: center;
      justify-content: flex-start;
      padding: 10px 0;
      padding-left: 16px;
      color: #434343;
      font-weight: 500;

      &.has--subitems {
        &::after {
          content: "";
          position: absolute;
          right: 20px;
          top: calc(50%);
          width: 23px;
          height: 22px;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" viewBox="0 0 23 22" fill="none"><path d="M8.625 4.58334L15.298 10.9662L8.625 17.3491" stroke="%2314142B"/></svg>');
          transform: translate(50%, -50%) ;
          border-color: $color-black;
        }
      }

      strong {
        color: $color-red;
      }
    }
  }

  &__department {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    height: 100%;
    left: 0;
    z-index: 5;
    overflow-y: auto;
    transition: transform 300ms ease-in-out;
    transform: translateX(-100%);

    &.is--active {
      transform: translateX(0);
    }

    &-title {
      position: sticky;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;
      color: #000;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 22px;
      height: 55px;
      min-height: 55px;
      top: -1px;
      background: $color-white;
      z-index: 2;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: -21px;
        bottom: 0px;
        width: 100vw;
        height: 1px;
        background-color: #b4b4b4;
      }

      .x-submenu__back {
        margin-right: 10px;

        &::after {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M13.3 6.7L8.70005 11.3C8.60005 11.4 8.52938 11.5083 8.48805 11.625C8.44605 11.7417 8.42505 11.8667 8.42505 12C8.42505 12.1333 8.44605 12.2583 8.48805 12.375C8.52938 12.4917 8.60005 12.6 8.70005 12.7L13.3 17.3C13.4834 17.4833 13.7167 17.575 14 17.575C14.2834 17.575 14.5167 17.4833 14.7 17.3C14.8834 17.1167 14.975 16.8833 14.975 16.6C14.975 16.3167 14.8834 16.0833 14.7 15.9L10.8 12L14.7 8.1C14.8834 7.91666 14.975 7.68333 14.975 7.4C14.975 7.11666 14.8834 6.88333 14.7 6.7C14.5167 6.51666 14.2834 6.425 14 6.425C13.7167 6.425 13.4834 6.51666 13.3 6.7Z" fill="black"/></svg>');
          background-position: center;
        }

        svg {
          display: none;
        }
      }
    }

    &-item {
      will-change: max-height;
      transition: max-height 300ms ease-in-out;
      text-align: center;
      overflow: hidden;
      max-height: 45px;
      padding: 10px 0;
      border-bottom: 1px solid #e9e9e9;

      &.is--opened {
        max-height: 1000px;
        border-bottom: 1px solid #e9e9e9;
      }

      &.is--always-opened {
        max-height: 1000px;
        border-bottom: 0px solid #e9e9e9;
      }

      &-link {
        position: relative;
        display: flex;
        color: $color-black;
        font-family: $font-primary;
        border-bottom: solid 1px #e9e9e9;
        width: calc(100% - 48px);
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin-left: 24px;
        margin-right: 24px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;

        .is--opened & {
          border-bottom: 0;
        }

        &::after {
          content: "";
          position: absolute;
          right: 2px;
          top: 7px;
          @include arrow-generate(down, 7px, 2px);
          border-color: $color-black;
          transition: transform 300ms ease-in-out;

          .is--opened & {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  &__category {
    &-items {
      background-color: #f4f4f4;
      border-bottom: 1px solid #e9e9e9;
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
      padding: 20px 30px 40px;
    }
    &-item {
      & + & {
        margin-top: 30px;
      }
      &-link {
        color: $color-black;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &__footer {
    display: none;
    padding: 24px 0;

    .is--logged & {
      display: block;
    }

    &-logout {
      color: $color-red;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.x-submenu__department {
  padding: 0 21px 35px 21px;
  max-width: 100vw;
}

.flex--row {
  display: flex;
  flex-wrap: wrap;
}

.flex--row--noWrapp {
  display: flex;
  flex-wrap: nowrap;
}

.x-submenu__department__heading {
  position: relative;
  margin: 0px 0 14px 0px;
  object-fit: contain;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    width: 22px;
    height: 22px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M6 9L12 15L18 9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    transition: .3s;
  }

  &.open {
    &::after {
      transform: rotate(180deg);
      transition: .3s;
    }
  }
}
.x-submenu__department__headingCategory {
  font-size: 10px;
  margin-bottom: 4px;
  color: #b4b4b4;

  &::after {
   display: none;
  }
}

.x-submenu__department__container--flex
  > .x-submenu__container__listItem:first-child {
  border-right: solid 1px #ebebeb;
}

.x-submenu__department__container--flex
  > .x-submenu__container__listItem:last-child {
  padding-left: 21px;
}

.x-submenu__department__list {
  display: none;
}

.x-submenu__department__list.open-submenu {
  display: block;
}

.x-submenu__department__list.x-submenu__department__list--gray.open-submenu {
  display: flex;
}

[class*="x-submenu__department__item"] {
  font-family: Gotham, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 0.25rem;
}


/* espaço link mobile */
@media only screen and (max-width: 600px) {
  [class*="x-submenu__department__item"] {
    margin-bottom: 0.85rem !important;
  }
  ul.x-submenu__department__list--Por-tom-de-cor {
    flex-wrap: wrap;
  }

}

[class*="x-submenu__department__item"]:last-child {
  text-transform: uppercase;
}

.x-submenu__department__container--cover
  .x-submenu__container__listItem:not(.x-submenu__container__listItem--marginTop) {
  margin-top: 0;
}

.x-submenu__department__container--cover {
  flex-direction: column;
}

.x-submenu__department__container--cover > .x-submenu__container__listItem:last-child {
  margin-top: 0;
}

.x-submenu__department__container:not(.x-submenu__department__container--oneColumn)
  .x-submenu__container__listItem:first-child {
  width: 100%;
  margin-top: 0px;
}

.x-submenu__department__container .x-submenu__container__listItem {
  margin-top: 0;
}


.x-submenu__department__container--oneColumn [class*="--Por-faixa-de-preço"] {
  flex-direction: column;
}

.x-submenu__container__listItem--marginTop {
  margin-top: 0;
}

.x-submenu__department__list--gray {
  max-width: 79vw;
}

.x-submenu__department__heading--gray {
  color: #000;
}

.x-submenu__department__item--color {
  display: block;
  font-size: 0;
  border-radius: 100px;
  border: 1px solid #b4b4b4;
  width: 33px;
  height: 33px;
  overflow: hidden;
}

.x-submenu__department__item--color:not(:last-child) {
  margin-right: 0.25rem;
}

.x-submenu__department__item--color .colorImg {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.x-submenu__imgWrapper {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 13.5px;
  border: 1px solid #b4b4b4;
  overflow: hidden;
}

.x-submenu__imgWrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 116%;
  height: 116%;
  border-radius: 13.5px;
}

.x-submenu__department__item__link {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  display: block;
}

.x-submenu__department__item:not(:last-child) {
  margin-right: 0.5rem;
}

.x-submenu__linkLabel {
  display: block;
  font-family: Gotham, sans-serif;
  font-size: 9.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6e6e6e;
  margin-top: 12px;
  text-transform: uppercase;
  text-align: center;
  max-width: 77px;
}
