section(class='x-quick-view__img-container has--placeholder' rv-class-has--placeholder="product.isLoading")
  div(class='x-quick-view__img-content')
    div(class='x-quick-view__img-left')
      div(class='x-quick-view__img-nav js--quick-view-img-nav')
        div(class='x-quick-view__img-nav-content')

    div(class='x-quick-view__img-right')
      div(class='x-quick-view__img-main js--quick-view-img-main')
        div(class='x-quick-view__img-main-content js--product-img-main-content')
