.x-product__most-searched {
  &-container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-wrapper {
    width: 100%;
    @include rem(min-height, 300px);

    @extend %placeholder;
    @extend %slick-arrows-secondary;

    .slick-next,
    .slick-prev {
      background: transparent;
    }

    .slick-next.slick-arrow,
    .slick-prev.slick-arrow {
      position: absolute;
      z-index: 2 !important;
      top: 35%;
      opacity: 1;
      font-weight: 600;
      transform: translate(50%, -50%);
      right: 20px;

      &:before {
        content: "〉";
        font-size: 28px;
        line-height: 1;
        color: $color-red;
        opacity: 0.75;
        border: none !important;
        transform: rotate(0deg) !important;
      }
    }

    .slick-prev.slick-arrow {
      left: -30px;
      &:before {
        content: "〈";
      }
    }
  }
}
