div(class='x-institutional__top')
  h1(class='x-title')
    <vtex:contentPlaceHolder id="Título - Institucional" />
  div(class='x-institutional__top-text')
    <vtex:contentPlaceHolder id="Texto - Regulamentos e promoções" />
