.x-home__category-bullets {
    display: block !important;
    &-container {
        max-width: 1300px;
        margin: 25px auto;
        padding: 15px 30px;
    }
    &-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .vve-container {
            padding: 15px;
            border-radius: 8px;
            border: 2px solid transparent;
            transition: all 0.5s;
            box-shadow: 0 2px 2px transparent;
            &:hover {
                border-color: #bbc7dc;
                box-shadow: 0 2px 2px #d5dce9;
                transform: scale(1.1);
            }
        }
        a {
            display: flex;
            align-items: center;
            flex-direction: column;
            p {
                color: $color-black;
                font-family: $font-primary;
                text-transform: capitalize;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
    &-item:nth-child(2):before {
        background: #FEDD57;
    }
    &-item:nth-child(3):before {
        background: #b3b3b3;
    }
    &-item:nth-child(4):before {
        background: #0DDDBB;
    }
    &-item {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: row !important;
        margin-bottom: 25px !important;
        position: relative !important;
        flex: 0 0 20% !important;
        padding: 10px 30px !important;
        transition: .4s all !important;
        cursor: pointer !important;
        &:hover {
            transform: scale(1.1);
        }
        &:before {
            content: '';
            z-index: -1;
            width: 100%;
            height: 55%;
            background: #3EBCF2;
            position: absolute;
            left: 0;
            bottom: 0;
            border-top-left-radius: 6px;
            border-top-right-radius: 12px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 6px;
        }
        div:nth-child(1) {
            img {
                height: 150px;
                width: auto;
                margin-right: 5px;
            }
        }
        div:nth-child(2) {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex: 0 0 60%;
            height: 100%;
            p {
                font-family: $font-primary;
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                margin-bottom: 25px;
                color: #1f1f1f !important;
            }
        }
    }
}

.licenca .x-image__wrapper {
    height: 125px !important;
    width: 125px !important;
}

.x-image__wrapper {
    overflow: hidden;
    border-radius: 50%;
    width: 159px;
    height: 159px;
    margin-bottom: 10px;
    border: 1px solid#d5dce9;
    padding: 5px;
    img {
        transition: transform 225ms ease-in-out;
        will-change: transform;
        border-radius: 50%;
    }
}