.x-home__products-searched {
    &-container {
        max-width: 1300px !important;
        margin: 0 auto;
        padding: 15px 30px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &-wrapper {
        width: 100%;
        @include rem(min-height, 325px);
        @extend %placeholder;
        .x-shelf {
            .slick-slider {
                .slick-next,
                .slick-prev {
                    background: transparent;
                }
                .slick-next.slick-arrow,
                .slick-prev.slick-arrow {
                    position: absolute;
                    z-index: 2 !important;
                    top: 35%;
                    opacity: 1;
                    font-weight: 600;
                    transform: translate(50%, -50%);
                    // right: -20px;
                    &:before {
                        content: "〉";
                        font-size: 28px;
                        line-height: 1;
                        color: $color-red;
                        opacity: 0.75;
                        border: none !important;
                        transform: rotate(0deg) !important;
                    }
                }
                .slick-prev.slick-arrow {
                    left: -45px;
                    &:before {
                        content: "〈";
                    }
                }
            }
        }
    }
}