div(class='x-institutional__bottom')
  h2(class='x-title')
    |Nossos #[strong valores]
  ul(class='x-values__items')
    li(class='x-values__item')
      div(class='x-values__item-icon')
        <vtex.cmc:svgIconLamp/>
      span(class='x-values__item-text')
        |#[strong Inovação] e #[br/] #[strong conhecimento]

    li(class='x-values__item')
      div(class='x-values__item-icon')
        <vtex.cmc:svgIconFaith/>
      span(class='x-values__item-text')
        |#[strong Qualidade] e #[br/] #[strong confiança]

    li(class='x-values__item')
      div(class='x-values__item-icon')
        <vtex.cmc:svgIconAccess/>
      span(class='x-values__item-text')
        |#[strong Capilaridade] e #[br/] #[strong acesso]

  div(class='x-institutional__bottom-text')
    <vtex:contentPlaceHolder id="Texto - Quem Somos - Valores" />
