div(class='x-institutional__bottom')
  h2(class='x-title')
    |Nossos #[strong valores]
  ul(class='x-values__items')
    li(class='x-values__item')
      div(class='x-values__item-icon')
        <vtex.cmc:svgIconLamp/>
      span(class='x-values__item-text')
        |#[strong inovação] e #[br/] #[strong conhecimento]

    li(class='x-values__item')
      div(class='x-values__item-icon')
        <vtex.cmc:svgIconFaith/>
      span(class='x-values__item-text')
        |#[strong qualidade] e #[br/] #[strong confiança]

    li(class='x-values__item')
      div(class='x-values__item-icon')
        <vtex.cmc:svgIconAccess/>
      span(class='x-values__item-text')
        |#[strong capilaridade] e #[br/] #[strong acesso]
