.slick-prev:before,
.slick-next:before {
    color: #fff;
    font-weight: bold;
    text-shadow: black 2px 2px 1px;
}

.x-category__title {
    padding: 20px;
    margin-top: 20px;
    padding-bottom: 0;

    h1 {
        font-family: "Montserrat";
        color: #3e3e3e;
        font-weight: 400;
        font-size: 26px;
        line-height: 26px;

        b {
            font-weight: 700;
        }
    }
}
