
footer(class='x-footer')
  div(class='x-footer__container')
    include ./../../_partials/footer/_seo.pug
    include ./../../_partials/footer/_information.pug
    include ./../../_partials/footer/_social.pug

//- Quick Views
include ./../../_partials/quickview/_main.pug
