ul(class='x-pre__header-itens js--pre-header')
    li(class='x-pre__header-item')
        <vtex.cmc:svgIconPreheaderBox/>
        strong Entrega em 4 dias*
        | Veja as regras
    li(class='x-pre__header-item')
        <vtex.cmc:svgIconPreheaderCard/>
        strong 6x sem juros
        | Parcela mínima de R$50,00
    li(class='x-pre__header-item')
        <vtex.cmc:svgIconPreheaderGift/>
        strong 10% off
        | na primeira compra
