div(class='x-institutional__bottom')
  h2(class='x-title')
    |Marcas que #[br/] #[strong trabalham] conosco
  ul(class='x-brands__items')
    li(class='x-brands__item')
      <vtex.cmc:svgIconBrandBMW/>
    li(class='x-brands__item')
      <vtex.cmc:svgIconBrandScania/>
    li(class='x-brands__item')
      <vtex.cmc:svgIconBrandBayer/>
    li(class='x-brands__item')
      <vtex.cmc:svgIconBrandAdar/>
  a(class='x-brands__budget', title='Solicitar orçamento', href='mailto:ccesp@sestini.com.br?Subject=Vendas%20Corporativas') Solicitar orçamento
