
.cf-pagination {
    font-family: $font-primary !important;
    .cf-pagination__button {
        background-color: $color-white !important;
        &-next,
        &-prev {
            border-radius: 4px;
            border: 1px solid $color-red;
            height: 40px;
            margin-left: 13px !important;
            position: relative;
            width: 40px;
            &:before {
                border-top: 2px solid $color-red !important;
                border-right: 2px solid $color-red !important;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
        &-prev {
            margin-right: 13px !important;
            &::before {
                transform: translate(-50%, -50%) rotate(-135deg);
            }
        }
        &-page {
            border-radius: 4px;
            color: $color-red;
            font-weight: 600;
            padding: 0 15px;
            border: 1px solid $color-red;
            &.cf-pagination__button-current {
                background-color: $color-red !important;
                color: $color-white;
            }
        }
        &-last,
        &-first {
            display: block !important;
            font-size: 12px;
            font-weight: 500;
            margin-left: 20px;
            text-transform: lowercase;
        }
        &-first {
            margin-right: 10px;
        }
    }
}