.x-institutional {
  &__top {
    width: 100%;

    .x-title {
      max-width: unset;
    }

    &-text {
      font-family: $font-primary;
      color: rgba($color-black, 0.5);
      @include font-weight(400);
      @include rem(font-size, 14px);
      @include rem(line-height, 18px);
    }
  }

  &__bottom {
    width: 100%;
    font-family: $font-primary;
    @include rem(font-size, 14px);
    @include rem(line-height, 18px);
    
    .x-title {
      max-width: unset;
    }
  }

  &__error-message,
  &__success-message {
    display: none;

    &.is--active {
      display: block;
      text-align: center;
    }
  }

  &__popup {
    &-container {
      position: fixed;
      left: 50%;
      top: 50%;
      display: none;
      transform: translate(-50%, -50%);
      z-index: 5028;
      width: 300px;
      padding: 40px 20px;
      border-radius: 4px;
      background: #f4f4f4;
      font-weight: 700;
      text-align: center;
      &.is--active {
        display: block;
      }
    }
    &-success,
    &-error {
      position: relative;
      display: none;
      &:after {
        content: "";
        width: 70%;
        position: absolute;
        bottom: -15px;
        margin: 0 auto;
        right: 15%;
        height: 3px;
        background: #c12a21;
      }

      &.is--active {
        display: block;
      }
    }

    &-close {
      position: relative;
      &--button {
        position: absolute;
        top: -30px;
        right: 0px;
        font-weight: 100;
      }
    }
  }
}
