/**
 * General Variables
 * Call on every SASS files
 */
$color-body-text: $color-black;
$color-body-bg: $color-white;
$container-width: 1920px;
$off-canvas-max-width: 403px;
$newsletter-width: 32px;
$input-height: 32px;
$pre-header-height-mobile: 32px;
$header-height: 82px;
$preheader-height: 24px;
$header-height-mobile: 55px;
$header-height-active: 54px;
$header-search-input-height: 72px;
$main-banner-padding: 48px;
$side-newsletter-width: 56px;
$grid-width: 110px;
$map-mobile-height: 210px;
$header-height-landing-page: 80px;

// Minicart
$minicart-header-height: 84px;
$minicart-header-height-mobile: 54px;
$minicart-bottom-height: 150px;
$minicart-bottom-height-mobile: 150px;

// Lookbook
$lookbook-bottom-height: 120px;
