
<footer class="x-footer">
  <div class="x-footer__container">
    <article class="x-footer-seo">
      <div class="x-footer-seo__container">
        <ul class="x-footer-seo__items js--footer-seo">
          <li class="x-footer-seo__item"><a class="x-footer-seo__item-link js--footer-seo-button" title="central de ajuda" href="#">Central de Ajuda</a>
            <ul class="x-footer-seo__content">
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="formas de pagamento" href="/institucional/formas-de-pagamento">Formas de Pagamento</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="frete e prazo de entrega" href="/institucional/frete-e-prazo-de-entrega">Frete e Prazo de Entrega</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="garantia" href="/institucional/garantia">Garantia</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="privacidade" href="/institucional/privacidade-e-seguranca">Privacidade</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="fale conosco" href="/institucional/fale-conosco">Fale Conosco</a></li>
            </ul>
          </li>
          <li class="x-footer-seo__item"><a class="x-footer-seo__item-link js--footer-seo-button" title="informações" href="#">Informações</a>
            <ul class="x-footer-seo__content">
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="instrução de cadeado" href="/institucional/Instrucao-cadeado">Instrução de Cadeado</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="cancelamento" href="/institucional/cancelamento">Cancelamento</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="devoluções" href="/institucional/devolucao">Devoluções</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="dicas de uso" href="/institucional/dicas-de-uso">Dicas de Uso</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="legenda de ícones" href="/institucional/legenda-de-icones">Legenda de Ícones</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="regras para mala de bordo" href="/institucional/regras-para-malas-bordo">Regras para Mala de Bordo</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="tabela de medidas" href="/institucional/tabela-de-medidas">Tabela de Medidas</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="regulamentos" href="/institucional/regulamentos-e-promocoes">Regulamentos</a></li>
            </ul>
          </li>
          <li class="x-footer-seo__item"><a class="x-footer-seo__item-link js--footer-seo-button" title="institucional" href="#">Institucional</a>
            <ul class="x-footer-seo__content">
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="quem somos" href="/institucional/quem-somos">Quem Somos</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="blog da sestini" href="http://www.mundosestini.com.br/">Blog da Sestini</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="lojas" href="/institucional/nossas-lojas">Lojas</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="seja um franqueado" href="/institucional/seja-franqueado">Seja um Franqueado</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="representantes" href="/institucional/representantes">Representantes</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" target="_blank" title="trabalhe conosco" href="https://www.catho.com.br/empregos/sestini">Trabalhe Conosco</a></li>
              <li class="x-footer-seo__content-item"><a class="x-footer-seo__content-item-link" title="vendas corporativas" href="/institucional/vendas-corporativas">Vendas Corporativas</a></li>
            </ul>
          </li>
          <li class="x-footer-seo__item">
            <p class="x-footer-seo__item-link js--footer-seo-button" title="atendimento">Atendimento</p>
            <ul class="x-footer-seo__content">
              <li class="x-footer-seo__content-item">
                <p class="x-footer-seo__content-item-link" title="exclusivo SAC da loja virtual">Exclusivo SAC da loja virtual</p>
              </li>
              <li class="x-footer-seo__content-item">
                <p class="x-footer-seo__content-item-link" title="(11) 2488-2010">(11) 2488-2010</p>
              </li>
              <li class="x-footer-seo__content-item">
                <p class="x-footer-seo__content-item-link" title="(seg a sex das 9h ás 17h)">(Seg a Sex das 9h ás 17h)</p>
              </li>
              <li class="x-footer-seo__content-item">
                <p class="x-footer-seo__content-item-link" title="outros departamentos">Outros departamentos</p>
              </li>
              <li class="x-footer-seo__content-item">
                <p class="x-footer-seo__content-item-link" title="(11) 3123-1600">(11) 3123-1600</p>
              </li>
              <li class="x-footer-seo__content-item">
                <p class="x-footer-seo__content-item-link" title="(11) 4064-1600">(11) 4064-1600</p>
              </li>
            </ul>
          </li>
        </ul>
        <button class="x-footer-seo__button js--footer-seo-button" type="button" title="Abrir"><vtex.cmc:svgIconStripe /></button>
      </div>
    </article>
    <section class="x-footer__information">
      <div class="x-footer__information-left">
        <h4 class="x-footer__information-title" title="pagamento">Pagamento</h4>
        <ul class="x-footer__information-items">
          <li class="x-footer__information-item"><vtex.cmc:svgIconCardVisa /></li>
          <li class="x-footer__information-item"><vtex.cmc:svgIconCardMastercard /></li>
          <li class="x-footer__information-item"><vtex.cmc:svgIconCardAmex /></li>
          <li class="x-footer__information-item"><vtex.cmc:svgIconCardElo /></li>
          <li class="x-footer__information-item"><vtex.cmc:svgIconCardHipercard /></li>
          <li class="x-footer__information-item"><vtex.cmc:svgIconCardBoleto /></li>
        </ul>
      </div>
      <div class="x-footer__information-right">
        <h4 class="x-footer__information-title" title="segurança">Segurança</h4>
        <ul class="x-footer__information-items">
          <li class="x-footer__information-item"><vtex.cmc:svgIconSecurityEbit /></li>
          <li class="x-footer__information-item"><vtex.cmc:svgIconSecurityVtex /></li>
          <li class="x-footer__information-item"><vtex.cmc:svgIconSecurityTrust /></li>
          <li class="x-footer__information-item">
            <div id="reputation-ra"></div>
          </li>
        </ul>
      </div>
    </section>
    <ul class="x-social">
      <li class="x-social__item"><a class="x-social__item-link" title="Instagram" href="https://www.instagram.com/sestinioficial/" rel="noindex nofollow noopened" target="_blank"><vtex.cmc:svgIconInstagram /></a></li>
      <li class="x-social__item"><a class="x-social__item-link" title="Facebook" href="https://pt-br.facebook.com/sestinioficial" rel="noindex nofollow noopened" target="_blank"><vtex.cmc:svgIconFacebook /></a></li>
      <li class="x-social__item"><a class="x-social__item-link" title="LinkedIn" href="https://www.linkedin.com/company/sestini-mercantil" rel="noindex nofollow noopened" target="_blank"><vtex.cmc:svgIconLinkedin /></a></li>
      <li class="x-social__item"><a class="x-social__item-link" title="Youtube" href="https://www.youtube.com/channel/UCIpUHpF4m5TJGlr67dty7PQ" rel="noindex nofollow noopened" target="_blank"><vtex.cmc:svgIconYoutube /></a></li>
    </ul>
  </div>
</footer>
<div class="x-quick-view js--quick-view" style="display: none">
  <div class="x-quick-view__container">
    <button class="x-quick-view__close js--quick-view-close"><vtex.cmc:svgIconClosePopup /></button>
    <div class="x-quick-view__wrapper">
      <div class="x-quick-view__left">
        <section class="x-quick-view__img-container has--placeholder" rv-class-has--placeholder="product.isLoading">
          <div class="x-quick-view__img-content">
            <div class="x-quick-view__img-left">
              <div class="x-quick-view__img-nav js--quick-view-img-nav">
                <div class="x-quick-view__img-nav-content"></div>
              </div>
            </div>
            <div class="x-quick-view__img-right">
              <div class="x-quick-view__img-main js--quick-view-img-main">
                <div class="x-quick-view__img-main-content js--product-img-main-content"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="x-quick-view__right">
        <section class="x-quick-view__main-info">
          <div class="x-quick-view__name-wrapper has--placeholder" rv-class-has--placeholder="product.isLoading">
            <h2 class="x-quick-view__name" rv-text="product.name">
              <div class="hidden-heading"><vtex.cmc:productName/></div>
            </h2>
          </div>
          <div class="x-quick-view__bottom-info-wrapper has--placeholder" rv-class-has--placeholder="product.isLoading">
            <div class="x-quick-view__info">
              <div class="x-quick-view__price-info">
                <div class="x-quick-view__price-wrapper has--placeholder" rv-if="product.available" rv-class-has--placeholder="product.isLoading">
                  <del class="x-quick-view__old-price" rv-if="product.listPrice | gt 0"><span rv-text="product.listPrice | formatPrice"></span></del><ins class="x-quick-view__best-price" rv-if="product.bestPrice | gt 0"><span rv-text="product.bestPrice | formatPrice"></span></ins>
                </div>
                <div class="x-quick-view__installments-wrapper" rv-if="product.installments | gt 1">Em até <span rv-text="product.installments"></span>X de <span rv-text="product.installmentsValue | formatPrice"></span> sem juros no cartão</div>
              </div>
            </div>
          </div>
          <div class="x-quick-view__colors has--placeholder" rv-class-has--placeholder="product.isLoading">
            <div class="x-quick-view__colors-container">
              <div class="x-quick-view__colors--items js--product-color">
                <div class="x-quick-view__colors-content js--product-color-container">
                  <div class="x-quick-view__select-color" rv-class-is--available="color.available" rv-on-click="controller.selectSku" rv-each-color="product.items" rv-data-sku="color.itemId"><img rv-src="color.thumbImage" rv-alt="color.name"/></div>
                </div>
              </div>
            </div>
          </div>
          <div class="x-product__sizes has--placeholder" rv-show="product.categoryId | eq '3'" rv-class-has--placeholder="product.isLoading">
            <div class="x-product__sizes js--product-sizes">
              <div class="x-product__sizes-content">
                <div class="x-product__select-sizes" rv-each-size="product.sizes | propertyList"><a rv-each-value="size.value | firstItem" rv-html="size.key" rv-href="value.link | stripHost" rv-title="size.key"></a></div>
              </div>
            </div>
          </div>
          <div class="x-quick-view__buy-btn-wrapper has--placeholder" rv-hide="product.skuNotAvailable" rv-class-has--placeholder="product.isLoading">
            <button class="x-quick-view__buy-btn js--add-to-cart" rv-on-click="controller.addToCart" rv-disabled="product.skuNotAvailable" rv-data-product-qty="product.qty" rv-data-product-sku="product.skuId" rv-text="product.buyBtn"></button>
          </div>
          <div class="x-quick-view__qty-amount-left has--placeholder" rv-class-has--placeholder="product.isLoading"><span rv-html="product.skuQtyText"></span></div>
          <div class="x-quick-view__shipping has--placeholder" rv-hide="product.skuNotAvailable" rv-class-has--placeholder="product.isLoading">
            <div class="x-quick-view__shipping-wrapper">
              <form class="x-quick-view__shipping-form" rv-on-submit="controller.calculateShipping">
                <label class="x-quick-view__shipping-label" for="x-quick-view-postal">calcular frete:</label>
                <div class="x-quick-view__shipping-input-wrapper">
                  <input class="x-quick-view__shipping-input" type="text" maxlength="9" minlength="9" required="true" placeholder="digite seu CEP" rv-on-keyup="controller.formatPostalCode"/>
                  <button class="x-quick-view__shipping-submit" type="submit">calcular</button>
                </div>
                <div class="x-quick-view__shipping-erro" rv-show="product.shippingCalculatedError">preencha um CEP válido</div>
              </form>
              <div class="x-quick-view__shipping-discovery"><a class="x-quick-view__shipping-discovery-link" title="Não sei meu CEP" href="http://www.buscacep.correios.com.br/sistemas/buscacep/">Não sei meu CEP</a></div>
            </div>
            <div class="x-quick-view__shipping-result" rv-show="product.isShippingCalculated">
              <div class="x-quick-view__shipping-row" rv-each-shipping="product.shippingResult">
                <div class="x-quick-view__shipping-value" rv-html="shipping.shippingValue"></div>
                <div class="x-quick-view__shipping-type" rv-html="shipping.shippingType"></div>
                <div class="x-quick-view__shipping-sla" rv-html="shipping.shippingText"></div>
              </div>
            </div>
          </div>
          <div class="x-quick-view__notifyme" rv-show="product.skuNotAvailable">
            <div class="x-quick-view__notifyme-header">
              <button class="x-quick-view__notifyme-title" rv-on-click="controller.enableNotifyMe">
                <vtex.cmc:svgIconEmail/>me avise quando chegar</button>
            </div>
            <div class="x-quick-view__notifyme-wrapper" rv-show="product.notifyMeActive">
              <form class="x-quick-view__notifyme-form" rv-on-submit="controller.sendNotifyMe">
                <label class="x-quick-view__notifyme-label">nome
                  <input class="x-quick-view__notifyme-input js--notifyme-input-name" type="text" required="true"/>
                </label>
                <label class="x-quick-view__notifyme-label">e-mail
                  <input class="x-quick-view__notifyme-input js--notifyme-input-email" type="email" required="true"/>
                </label>
                <input class="x-quick-view__notifyme-input js--notifyme-input-skuId" type="hidden" data-sku=""/>
                <input class="x-quick-view__notifyme-input js--notifyme-button" type="submit" value="Enviar"/>
              </form>
            </div>
          </div>
          <div class="x-quick-view__tech-information-container has--placeholder" rv-class-has--placeholder="product.isLoading">
            <h5 class="x-quick-view__tech-information-title">Informações técnicas</h5>
            <div class="x-quick-view__tech-information-wrapper">
              <ul class="x-quick-view__tech-information-items">
                <li class="x-quick-view__tech-information-item" rv-each-spec="product.specs"><img class="x-quick-view__tech-information-image" rv-src="spec.imageUrl" rv-title="spec.name" rv-alt="spec.name"/>
                  <p class="x-quick-view__tech-information-name" rv-html="spec.name"></p>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <div class="x-quick-view__description-wrapper">
          <ul class="x-quick-view__description-items">
            <li class="x-quick-view__description-item js--product-description" rv-show="product.dimensionsDescription">
              <button class="x-quick-view__description-button js--product-description-button" title="dimensões">Dimensões</button>
              <div class="x-quick-view__description-content">
                <div class="x-quick-view__description-text" rv-if="product.height"><strong>Altura</strong><span rv-html="product.height"></span></div>
                <div class="x-quick-view__description-text" rv-if="product.width"><strong>Largura</strong><span rv-html="product.width"></span></div>
                <div class="x-quick-view__description-text" rv-if="product.depth"><strong>Profundidade</strong><span rv-html="product.depth"></span></div>
                <div class="x-quick-view__description-text" rv-if="product.weight"><strong>Peso</strong><span rv-html="product.weight"></span></div>
              </div>
            </li>
            <li class="x-quick-view__description-item js--product-description" rv-show="product.featuresDescription">
              <button class="x-quick-view__description-button js--product-description-button" title="características">Características</button>
              <div class="x-quick-view__description-content">
                <div class="x-quick-view__description-text" rv-if="product.strap"><strong>Alça</strong><span rv-html="product.strap"></span></div>
                <div class="x-quick-view__description-text" rv-if="product.compartiments"><strong>Compartimentos</strong><span rv-html="product.compartiments"></span></div>
                <div class="x-quick-view__description-text" rv-if="product.color"><strong>Cor</strong><span rv-html="product.color"></span></div>
                <div class="x-quick-view__description-text" rv-if="product.ocasion"><strong>Ocasião</strong><span rv-html="product.ocasion"></span></div>
                <div class="x-quick-view__description-text" rv-if="product.size"><strong>Tamanho</strong><span rv-html="product.size"></span></div>
              </div>
            </li>
            <li class="x-quick-view__description-item js--product-description is--opened" rv-show="product.selfDescription">
              <button class="x-quick-view__description-button is--opened js--product-description-button" title="descrição">Descrição</button>
              <div class="x-quick-view__description-content" rv-html="product.selfDescription"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>