.x-breadcrumb {
  &__custom {
    width: 100%;
    @include rem(min-height, 17px);
    @include rem(margin-top, 45px);

    @include mq("sm", max) {
      @include rem(margin-top, 30px);
      @include rem(margin-bottom, 35px);
    }

    &-items {
      text-transform: capitalize;
      display: flex;
    }

    &-item {
      font-family: $font-primary;
      color: $color-black;
      @include rem(font-size, 12px);
      @include rem(line-height, 14px);

      & + & {
        border-left: solid 1px $color-black;
        @include rem(margin-left, 10px);
        @include rem(padding-left, 10px);

        @include mq("sm", max) {
          @include rem(margin-left, 7px);
          @include rem(padding-left, 7px);
        }
      }

      &:hover{
        text-decoration: underline;
      }
    }
  }
}
